input.editable-select {
    background-repeat: no-repeat;
    background-position: right 2px center;
    background-image: url(../../img/jquery.editable-select/arrow-down.gif);
    background-color: #FFF;
    padding-right: 0;
    cursor: default;
    z-index: 6010;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.editable-select-options {
    position: absolute;
    display: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    background: #FFF;
    border: 1px solid #CCC;
    z-index: 6010;
}

.editable-select-options-overlay {
    background: transparent;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6000;
}

.editable-select-iframe {
    position: absolute;
    background: #FFF;

    z-index: 6009;
    display: none;
}

.editable-select-options ul {
    margin: 0;
    padding: 0;
    z-index: 6010;
    list-style: none none;
}

.editable-select-options li {
    cursor: default;
    padding: 2px;
}

.editable-select-options li.match {
    background-color: #fff059;
}

.editable-select-options li.selected {
    background-color: #a1a1a1;
}

.editable-select {
    z-index: 6000;
}

input.editable-select {
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    height: 16px;
}

.ui-qb-grid {
    overflow: scroll;
}

.ui-qb-grid-row-header {
    border: 0;
}

.ui-qb-grid-row-header th {
    /*padding-left: 2px;*/
    /*padding-right: 2px;*/
    font-weight: bold;
    min-width: 0;
}

.ui-qb-grid-row td {
    font-weight: normal;
    height: 22px;
    text-align: left;
    white-space: nowrap;
	vertical-align: middle;
}

.ui-qb-grid-row td,
.ui-qb-grid-row-header th,
.ui-qb-grid-row-header th.ui-state-default {
    border-bottom: 1px solid inherit;
    border-right: 1px solid inherit;
    border-top: 0;
    border-left: 0;
    margin: 0;
    padding: 0 2px;
}

/* Drag&Drop */
.ui-qb-grid-row td.showDragHandle div {
    background: url("../../img/icons/updown2.gif") no-repeat right center;
    cursor: pointer;
}

.ui-qb-grid-row.tDnD_whileDrag td.showDragHandle div {
    background: url("../../img/icons/updown2.gif") no-repeat right center !important;
    cursor: pointer;
}

.ui-qb-grid-row.tDnD_whileDrag td {
    background: #eee !important;
}

.ui-qb-grid-row-cell-view-block {
    margin: 0 0;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-qb-grid-row-cell-edit-block {
	vertical-align: middle;
	margin: 0 0;
    overflow: hidden;
}

.ui-qb-grid-row-cell-edit-block span.inputSpan {
    display: block;
	padding: 0;
}

.ui-qb-grid-row-cell-edit-block button.customExpressionEdit {
    float: right;
    width: 16px;
    height: 16px;
	display: none;
}

.ui-qb-grid-row-cell-edit-block.showCustomEdit span.inputSpan {
	padding: 0 18px 0 0px;
}

.ui-qb-grid-row-cell-edit-block.showCustomEdit button.customExpressionEdit {
	display: block;
}

.ui-qb-grid-row-cell-edit-block select {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.ui-qb-grid-row-cell-edit-block input {
    width: 100%;
    padding: 0 20px 0 2px;
    margin: 0;
    vertical-align: middle;
}

.ui-qb-grid-row-cell-edit-block div {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    height: 20px;
}

select.ui-qb-grid-row-cell-edit-control {
    width: 100%;
}

.noborder {
    border: none;
}

.ui-qb-grid-row-alias input.ui-qb-grid-row-cell-edit-control {
    width: 100%;
}

.ui-qb-grid-row-condition input.ui-qb-grid-row-cell-edit-control {
    width: 100%;
}

/* Columns */
.ui-qb-grid-row-deleting {
    border-right-width: 0;
    cursor: pointer;
    /*width: 1px;*/
}

.ui-qb-grid-row-deleting div {
    width: 17px;
    background: url("../../img/icons/cross2.png") no-repeat center center;
}

.ui-qb-grid-row-action {
    border-right-width: 0;
    /*width: 1px;*/
}

.ui-qb-grid-row-action div {
    width: 12px;
    background: url("../../img/grippy.png") no-repeat scroll 4px 50% transparent;
    cursor: url("../../img/openhand.cur"), default;
}

.ui-qb-grid-row-selected div {
    width: 16px;
}

.ui-qb-grid-row-selected input {
    width: auto !important;
}

.ui-qb-grid-row td {
    padding-left: 2px;
    padding-right: 2px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ui-qb-grid-row-expression {
    /*width: 90%*/
}

.ui-qb-grid-row-expression div {
}

.ui-qb-grid-row-expression button {
    width: 16px;
    height: 16px;
}


.ui-qb-grid-row-grouping {
    text-align: center;
}

.ui-qb-grid-row-alias input {
    border: none;
    outline: none;
}

.ui-qb-grid-row-header th.ui-state-default {
	text-align: left;
}

td.ui-qb-grid-row-expression,
td.ui-qb-grid-row-alias,
td.ui-qb-grid-row-condition,
td.ui-qb-grid-row-conditionOr
{
	max-width: 0;
}



th.ui-qb-grid-row-selected          {min-width: 67px;width: 67px;}

td.ui-qb-grid-row-action div        {min-width:12px; width:12px;}
td.ui-qb-grid-row-deleting div      {min-width:18px; width:18px;}
td.ui-qb-grid-row-selected div      {min-width:15px; width:15px;}

td.ui-qb-grid-row-action         {min-width:16px; width:16px;}
td.ui-qb-grid-row-deleting      {min-width:23px; width:23px;}
td.ui-qb-grid-row-selected      {min-width:20px; width:20px;}

th.ui-qb-grid-row-expression       {width: 260px}

th.ui-qb-grid-row-aggregate           {min-width: 70px;}
th.ui-qb-grid-row-alias               {min-width: 70px;}
.ui-qb-grid-row-sorting             {min-width: 65px;}
.ui-qb-grid-row-sortingOrder        {min-width: 70px;}
.ui-qb-grid-row-grouping            {min-width: 55px;}
.ui-qb-grid-row-groupingCriterion   {min-width: 80px;}
.ui-qb-grid-row-condition           {min-width: 60px;}
.ui-qb-grid-row-conditionOr         {min-width: 50px;}

.ui-qb-grid colgroup, .ui-qb-grid col {
    border: 0;
    margin: 0;
    padding: 0;
}

.ui-qb-grid-row-expression input {
    border: 0 none;
    outline: none;
}

.ui-qb-grid-row-condition input {
    border: none;
    outline: none;
}


.ui-qb-grid-row-conditionOr input {
    border: none;
    outline: none;
}

.floatThead-table {
    border: 0;
}

