<pt-audit label="Property Info" obj-name="UnderwritingPropertyInfo" record-id="data.PropertyInfo.Id"></pt-audit>
<br />
<pt-audit label="Deal Costs" obj-name="UnderwritingDealCosts" record-id="data.DealCosts.Id"></pt-audit>
<br />
<pt-audit label="Rehab Info" obj-name="UnderwritingRehabInfo" record-id="data.RehabInfo.Id"></pt-audit><br />
<pt-audit label="Rental Info" obj-name="UnderwritingRentalInfo" record-id="data.RentalInfo.Id"></pt-audit><br />
<pt-audit label="Lien Info" obj-name="UnderwritingLienInfo" record-id="data.LienInfo.Id"></pt-audit><br />
<pt-audit label="Lien Costs" obj-name="UnderwritingLienCosts" record-id="data.LienCosts.Id"></pt-audit><br />
<!--<pt-audit label="Minimum Baseline Scenario" obj-name="UnderwritingMinimumBaselineScenario" record-id="data.MinimumBaselineScenario.Id"></pt-audit><br />
<pt-audit label="Best Case Scenario" obj-name="UnderwritingBestCaseScenario" record-id="data.BestCaseScenario.Id"></pt-audit><br />
<pt-audit label="Cash Scenario" obj-name="UnderwritingCashScenario" record-id="data.CashScenario.Id"></pt-audit><br />
<pt-audit label="Loan Scenario" obj-name="UnderwritingLoanScenario" record-id="data.LoanScenario.Id"></pt-audit><br />
<pt-audit label="Rental Model" obj-name="UnderwritingRentalModel" record-id="data.RentalModel.Id"></pt-audit><br />
<pt-audit label="Others" obj-name="UnderwritingOthers" record-id="data.Others.Id"></pt-audit>-->
<br />