<?xml version="1.0"?>
<configuration> 
  <system.web>
    <authorization>      
      <allow roles="Admin"/>
      <deny users="*"/>      
    </authorization>
  </system.web>
  <location path="LeadsManagement.aspx">
    <system.web>
      <authorization>
        <!--<allow roles="Admin,OfficeManager-Bronx,OfficeManager-Patchen,OfficeManager-Queens,OfficeManager-Rockaway" />-->
        <allow users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="MgrOffDays.aspx">
    <system.web>
      <authorization>
       
        <allow users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>