<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Shaopeng Zhang\deploy\underwritingservice\UnderwritingService.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>underwritingservice</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IntranetPortal.Core.CoreEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntranetPortal.Core.CoreEntities, IntranetPortal.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IntranetPortal.Core.MapDataEntitiesContainer" Order="2" Enabled="False">
          <Destination Path="metadata=res://*/ADOEntity.MapDataEntities.csdl|res://*/ADOEntity.MapDataEntities.ssdl|res://*/ADOEntity.MapDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=207.97.206.29,4436;initial catalog=MapData;user id=Chris;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntranetPortal.Core.MapDataEntitiesContainer, IntranetPortal.Core" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IntranetPortal.Data.PortalEntities" Order="3" Enabled="False">
          <Destination Path="metadata=res://*/ADOEntity.PortalEntities.csdl|res://*/ADOEntity.PortalEntities.ssdl|res://*/ADOEntity.PortalEntities.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IntranetPortal.Data.PortalEntities, IntranetPortal.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UnderwritingEntity" Order="4" Enabled="True">
          <Destination Path="Data Source=chrispc,4436;Initial Catalog=UnderwritingService;User ID=Steven;Password=P@ssw0rd;Application Name=EntityFramework" Name="data source=chrispc,4436;initial catalog=UnderwritingService;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UnderwritingEntity, UnderwritingService" MigrationConfiguration="RedQ.UnderwritingService.Migrations.Configuration, UnderwritingService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IntranetPortal.Core.CoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IntranetPortal.Core.MapDataEntitiesContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/ADOEntity.MapDataEntities.csdl|res://*/ADOEntity.MapDataEntities.ssdl|res://*/ADOEntity.MapDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=207.97.206.29,4436;initial catalog=MapData;user id=Chris;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IntranetPortal.Data.PortalEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ADOEntity.PortalEntities.csdl|res://*/ADOEntity.PortalEntities.ssdl|res://*/ADOEntity.PortalEntities.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&amp;quot;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UnderwritingEntity-Web.config Connection String">
      <ParameterValue>data source=chrispc,4436;initial catalog=UnderwritingService;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="IntranetPortal.Core.CoreEntities" />
    <_ConnectionStringsToInsert Include="IntranetPortal.Core.MapDataEntitiesContainer" />
    <_ConnectionStringsToInsert Include="IntranetPortal.Data.PortalEntities" />
  </ItemGroup>
</Project>