<?xml version="1.0"?>
<configuration>
  <location path="TeamActivityReport.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ShortSaleActivityReport.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
    <system.web>

    </system.web>
</configuration>
