body {
  height: 100%;
  font-family:'Source Sans Pro', sans-serif;
  color: #454648;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family:'Source Sans Pro', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family:'Source Sans Pro', sans-serif;
}
.button {
  display: inline-block;
  margin-top: 30px;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button.featured-agents-desc-button {
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid white;
  border-radius: 7px;
  background-color: transparent;
  font-size: 24px;
  line-height: 46px;
  font-weight: 600;
  text-transform: uppercase;
}
.button.featured-agents-desc-button:hover {
  background-color: white;
  color: #1c4154;
}
.button.home-highlight-button {
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 5px;
  background-color: #ff400d;
  font-size: 24px;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
.button.home-highlight-button:hover {
  background-color: #d0340b;
}
.button.agi-button {
	margin-bottom: 40px;
	padding: 0px 30px;
	background-color: #295268;
	font-size: 18px;
	line-height: 40px;
	font-weight: 600;
}
.button.agi-button:hover {
  background-color: #1d94d1;
}
.button.agi-button.agib-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button.agi-button.agib-left.agib-current {
  background-color: #1d94d1;
}
.button.agi-button.agib-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button.mip-button-1 {
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 5px;
  background-color: #ff400d;
  font-size: 24px;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
.button.mip-button-1:hover {
  background-color: #d0340b;
}
.hero {
  position: relative;
  height: 100%;
  min-height: 800px;
  background-image: url('../images/home_hero_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-brand {
  position: absolute;
  top: 6%;
  width: 100%;
}
.home-logo-container {
	position: relative;
}
.home-logo {
  position: absolute;
  left: 0;
  width: 100%;
  height: 160px;
  padding-top: 25px;
  background-color: rgba(46, 47, 49, 0.9);
  text-align: center;
}
/*.home-logo {
  position: absolute;
  left: 50%;
  width: 160px;
  height: 160px;
  margin-left: -80px;
  padding-top: 25px;
  border-radius: 50%;
  background-color: rgba(46, 47, 49, 0.8);
  text-align: center;
}
*/.hero-nav-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 49, 0.90);
}
.hero-callout {
  position: absolute;
  top: 27%;
  width: 100%;
  text-align: center;
}
.callout-h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
  font-size: 90px;
  line-height: 90px;
  font-weight: 200;
  letter-spacing: -1px;
}
.callout-h1 b, .callout-h1 i {
	font-weight: 200;
	font-style: normal !important;
}
.callout-p {
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
}
.hero-search {
  position: absolute;
  top: 48%;
  width: 100%;
}
.hero-search-box {
	display: block;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	background-image: -webkit-linear-gradient(290deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	background-image: linear-gradient(160deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	text-align: center;
	padding-top: 30px;
}
.hero-search-selection {
  margin-top: -2px;
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url('../images/home_hero_search_bg.png');
  background-position: 50% 0px;
  background-size: 150px;
  background-repeat: no-repeat;
  text-align: center;
}
.hero-search-link {
  padding: 5px 30px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}
.hero-search-link:hover {
  color: white;
}
.hero-search-link.hsl-current {
  color: white;
  font-weight: 700;
}
.hero-search-link.hsl-left {
  border-right: 2px solid rgba(255, 255, 255, 0.29);
}
.hero-search-input {
  display: inline-block;
  width: 350px;
  height: 58px;
  margin-right: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 5px;
  font-size: 18px;
  font-style: italic;
  border: none;
}
.hero-search-input:focus{
  box-shadow: #ff400d 0px 0px 0px 5px;
}
.hero-search-input.hero-search-input-selection {
	width: 150px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	border: none;
	-webkit-appearance: none;
	background-image: url(../images/dropdown_arrow.png);
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 9px 5px;
}
.hero-search-button {
  width: 80px;
  height: 58px;
  border-radius: 5px;
  background-color: #ff400d;
  font-family: Fontawesome, sans-serif;
  font-size: 24px;
}
.hero-search-button:hover {
  background-color: #d0340b;
}
.hero-go {
  position: absolute;
  top: 83%;
  width: 100%;
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
.hero-go-button {
  display: inline-block;
  width: 100px;
  height: 80px;
  font-family: Fontawesome, sans-serif;
  color: white;
  font-size: 80px;
  line-height: 80px;
  font-style: normal;
  text-decoration: none;
}
.global-nav {
  position: fixed;
  left: 0px;
  top: -80px;
  z-index: 5000;
  width: 100%;
  height: 80px;
  background-color: white;
}
.global-nav-logo {
  padding-top: 15px;
  padding-bottom: 15px;
}
.global-nav-logo.gnlogo-subpage {
  margin-top: 5px;
}
.global-nav-link {
  display: inline-block;
  margin-top: 5px;
  padding-right: 25px;
  padding-left: 25px;
  border-bottom: 5px solid white;
  color: #454648;
  font-size: 16px;
  line-height: 70px;
  font-weight: 700;
  text-decoration: none;
}
.global-nav-link:hover {
  border-bottom: 5px solid #26a8eb;
}
.global-nav-link.gnl-current {
  border-bottom: 5px solid #26a8eb;
}
.global-nav-link.gnl-user {
  background-image: url('../images/global_nav_user_bg.png');
  background-position: 0px 50%;
  background-size: 2px;
  background-repeat: no-repeat;
  font-family: Fontawesome, sans-serif;
}
.global-nav-link.gnl-user:hover {
  border-bottom-style: solid;
}
.global-nav-link.gnl-subpage {
  margin-top: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-width: 10px;
  line-height: 60px;
}
.global-nav-link.gnl-subpage.gnls-current {
  border-bottom-color: #26a8eb;
}
.global-nav-links {
  text-align: right;
}
.featured-agents-content {
  background-color: #163240;
}
.featured-agents-nav {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Fontawesome, sans-serif;
  color: white;
  font-size: 60px;
  line-height: 170px;
  text-decoration: none;
}
.featured-agents-nav.fan-left {
  float: left;
}
.featured-agents-nav.fan-left:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.featured-agents-nav.fan-right {
  float: right;
}
.featured-agents-nav.fan-right:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.featured-agents-list-wrapper{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 700px;
  height: 170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
  text-align: center;
}
.featured-agents-list {
  position: relative;
  display: block;
  	left: -140px;
}
.featured-agents-list-item {
  display: block;
  float: left;
}
.featured-agents-list-item-pic {
  margin-bottom: 10px;
  border-radius: 50%;
}
.featured-agents-list-item-link {
  padding-right: 30px;
  padding-left: 30px;
  opacity: 0.5;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.featured-agents-list-item-link:hover {
  opacity: 1;
}
.featured-agents-list-item-link.falil-current {
  opacity: 1;
}
.featured-agents-list-item-blind {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 170px;
  background-image: -webkit-linear-gradient(left, #163240, rgba(22, 50, 64, 0) 60%);
  background-image: linear-gradient(to right, #163240, rgba(22, 50, 64, 0) 60%);
}
.featured-agents-list-item-blind.falib-right {
  left: auto;
  right: 0px;
  background-image: -webkit-linear-gradient(180deg, #163240, rgba(22, 50, 64, 0) 60%);
  background-image: linear-gradient(270deg, #163240, rgba(22, 50, 64, 0) 60%);
}
.featured-agents-desc {
  background-color: #1c4154;
  background-image: url('../images/featured_agents_desc_bg.png');
  background-position: 50% 0px;
  background-size: 60px;
  background-repeat: no-repeat;
  color: #638292;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.featured-agents-desc-content {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 90px;
  padding-bottom: 100px;
}
.featured-agents-desc-h {
  margin-bottom: 30px;
  color: white;
  font-size: 30px;
}
.featured-agents-desc-p {
  font-weight: 400;
}
.mip-important {
  font-weight: 900;
}
.featured-listings {
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}
.mip-h2 {
  color: #454648;
  font-size: 42px;
}
.mip-h3 {
  color: #454648;
  font-weight: 300;
}
.mip-h3.close-top {
  margin-top: -5px;
}
.featured-listings-item {
  width: 100%;
  margin-top: 45px;
  color: #26a8eb;
  font-size: 16px;
  text-decoration: none;
}
.featured-listings-item:hover {
  color: #ff400d;
}
.featured-listings-item.fli-nearby {
  text-align: left;
}
.featured-listings-item-pic {
  margin-bottom: 20px;
}
.featured-listings-item-pic.flip-nearby {
  display: block;
  width: 130px;
}
.font-awesome {
  font-family: Fontawesome, sans-serif;
}
.font-awesome.for-social-media {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: white;
  color: #26a8eb;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
}
.font-awesome.for-social-media:hover {
  background-color: #26a8eb;
  color: white;
}
.font-awesome.for-social-media.fsm-left {
  margin-left: 30px;
}
.font-awesome.for-footer {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid #446576;
  border-radius: 50%;
  color: #446576;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
.font-awesome.for-footer:hover {
  border-color: white;
  color: white;
}
.font-awesome.sh1fa {
  color: #ddd;
}
.featured-listings-item-price {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 900;
}
.featured-listings-item-price.flipr-nearby {
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 18px;
}
.featured-listings-item-desc {
  color: #454648;
}
.home-highlight {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: whitesmoke;
  color: #2e2f31;
  text-align: center;
}
.home-highlight-item {
  padding-top: 60px;
  padding-bottom: 40px;
}
.home-highlight-desc {
  color: #9ca0a7;
  font-size: 18px;
  font-style: italic;
}
.testimonial {
  background-image: url('../images/bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}
.testimonial-bg-1 {
  padding-top: 110px;
  padding-bottom: 130px;
  background-image: url('../images/testimonial_bg.png');
  background-position: 50% 100%;
  background-size: 3000px;
  background-repeat: no-repeat;
}
.testimonial-quote {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.testimonial-cite {
  display: block;
  width: 60%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
}
.social-media {
  background-color: #163240;
  color: white;
  text-align: center;
}
.social-media-container {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid #1c4154;
  font-size: 24px;
  font-weight: 900;
}
.global-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #163240;
}
.footer-links-block {
  border-left: 1px solid #1c4154;
}
.footer-links {
  margin-left: 30px;
}
.footer-links-heading {
  margin-top: -5px;
  margin-bottom: 30px;
  margin-left: 30px;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
}
.footer-links-link {
  display: block;
  color: #638292;
  line-height: 30px;
  text-decoration: none;
}
.footer-links-link:hover {
  color: white;
}
.global-footer-2 {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #1c4154;
  background-image: url('../images/bg-footer-seo.png');
  background-position: 50% 100%;
  background-size: 1481px;
  background-repeat: no-repeat;
  color: #446576;
}
.global-footer-seo-heading {
  margin-top: 0px;
  color: white;
  font-size: 14px;
  font-weight: 900;
}
.global-footer-seo {
  line-height: 18px;
}
.global-seo-divider {
  width: 150px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #27556c;
}
.global-footer-copyright-link {
  display: block;
  margin-top: 38px;
  margin-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  float: left;
  color: white;
  text-decoration: none;
}
.global-footer-copyright-link:hover {
  color: #819aa6;
}
.global-footer-copyright-link.gfcl-left {
  margin-top: 0px;
  margin-right: 25px;
  padding-right: 0px;
  padding-left: 0px;
}
.footer-copyright-text {
  clear: both;
  font-size: 12px;
  line-height: 16px;
}
.global-nav-2 {
  background-color: white;
}
.apartment-general-info {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: whitesmoke;
  color: #454648;
  text-align: center;
}
.subpage-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1c4154;
  font-size: 42px;
  line-height: 42px;
  font-weight: 900;
}
.subpage-h2 {
  margin-top: 5px;
  color: #454648;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.agi-slider {
  position: relative;
}
.agi-slider-nav {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 60px;
  margin-top: -30px;
  font-family: Fontawesome, sans-serif;
  color: #26a8eb;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
}
.agi-slider-nav.agisn-left {
  left: 0px;
  text-align: left;
}
.agi-slider-nav.agisn-left:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.agi-slider-nav.agisn-right {
  right: 0px;
  text-align: right;
}
.agi-slider-nav.agisn-right:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.agi-quick-info {
  display: block;
  max-width: 870px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.agiqi-item {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  border: 1px solid #ddd;
  border-radius: 35px;
  color: #9da1a8;
  font-size: 12px;
  text-transform: uppercase;
}
.agiqi-item.agiqii-s2 {
  display: block;
  width: auto;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
}
.agiqi-item.agiqi-item-iconlink {
  font-family: Fontawesome, sans-serif;
  color: #26a8eb;
  font-size: 24px;
  line-height: 70px;
  text-decoration: none;
}
.agiqi-item.agiqi-item-iconlink:hover {
  border-color: #26a8eb;
}
.agiqi-item-important {
  display: block;
  margin-top: 15px;
  color: #454648;
  font-size: 36px;
  line-height: 22px;
  font-weight: 900;
}
.agiqi-item-important.agiqiii-2 {
  margin-top: 12px;
  font-size: 30px;
  line-height: 25px;
}
.agiqi-item-icon {
  margin-top: 15px;
  margin-right: 10px;
  float: left;
  font-family: Fontawesome, sans-serif;
  color: #454648;
  font-size: 30px;
}
.agiqi-item-text {
  float: right;
}
.agiqi-item-textonly {
  margin-top: 15px;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}
.agi-other {
  margin-top: 50px;
  padding-top: 50px;
  clear: both;
  border-top: 2px solid #eee;
}
.agi-transit-heading {
  margin-top: 0px;
  text-transform: uppercase;
}
.agi-transit-line {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  float: left;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
}
.agi-transit-line.agitl-c1 {
  background-color: #244eaa;
}
.agi-transit-line.agitl-c2 {
  background-color: #ff632d;
}
.agi-transit-line.agitl-c3 {
  background-color: #ffbf00;
}
.agi-transit-line.agitl-c4 {
  background-color: #26a8eb;
}
.agi-transit-line.agitl-c4.agitl-small {
  font-size: 14px;
}
.agi-transit {
  text-align: left;
}
.agi-share {
  font-size: 18px;
  text-align: right;
}
.agi-share-link {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: white;
  font-family: Fontawesome, sans-serif;
  color: #26a8eb;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
}
.agi-share-link:hover {
  background-color: #26a8eb;
  color: white;
}
.apartment-details {
  padding-top: 90px;
  font-size: 16px;
  line-height: 24px;
}
.global-heading-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #454648;
  font-size: 24px;
  text-transform: uppercase;
}
.ad-intro {
  padding-right: 30px;
  color: #77787b;
}
.ad-agent-photo {
  border-radius: 50%;
}
.ad-agent-name {
  display: inline-block;
  margin-left: 30px;
  color: #454648;
  font-size: 24px;
  font-weight: 300;
}
.ad-agent {
  position: relative;
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.ad-agent-contact {
  position: absolute;
  left: 112px;
  top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #ff400d;
  opacity: 0;
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.apartment-features {
  margin-top: 100px;
  padding-top: 90px;
  padding-bottom: 110px;
  border-top: 2px solid #eee;
}
.afl-item {
  width: 25%;
  padding-right: 30px;
  padding-left: 30px;
  float: left;
  background-image: url('../images/bullet-1.png');
  background-position: 0px 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}
.p-features {
  margin-bottom: 50px;
  padding-top: 90px;
  padding-bottom: 100px;
}
.pfl-item {
  font-size: 16px;
  width: 50%;
  padding-right: 30px;
  padding-left: 30px;
  float: left;
  background-image: url('../images/bullet-1.png');
  background-position: 0px 5px;
  background-size: 14px;
  background-repeat: no-repeat;
}
.apartment-key-details {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #d3eaf5;
}
.akdl-item {
  width: 22%;
  margin-right: 3%;
  float: left;
  border-bottom: 1px solid #b1d6e8;
  line-height: 36px;
}
.text-important {
  font-weight: 900;
}
.local-info {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: black;
  color: white;
  text-align: center;
}
.local-info.li-forest-hills {
  background-image: url('../images/bg-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.text-white {
  color: white;
}
.local-info-neighborhood-name {
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}
.local-info-intro {
  display: block;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
}
.local-info-intro-link {
  color: #26a8eb;
  font-weight: 900;
  text-decoration: none;
}
.local-info-intro-link:hover {
  color: #abe3ff;
}
.apartment-footer-cta {
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}
.afcta-heading {
  font-size: 36px;
  font-weight: 200;
}
.fli-nearby-left {
  margin-right: 20px;
  float: left;
}
.fli-nearby-right {
  float: left;
}

/* Listings */
.hsearch-bar {
	background: #295268;
	height: 80px;
	padding: 20px 30px 0;
}
.hsearch-bar-input {
	display: inline-block;
	width: 310px;
	height: 40px;
	margin-right: 10px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	font-size: 16px;
	font-style: italic;
	border: none;
}
.hsearch-bar-input.hsearch-bar-input-selection {
	width: 80px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	border: none;
	-webkit-appearance: none;
	background-image: url(../images/dropdown_arrow.png);
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 9px 5px;
}
.hsearch-button {
  width: 60px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #ff400d;
  font-family: Fontawesome, sans-serif;
  font-size: 20px;
  padding: 0 !important;
}
.hsearch-button:hover {
  background-color: #d0340b;
}
.listings-map {
	position: absolute;
	bottom: 0;
	left: 400px;
	right: 0;
	top: 200px;
}
.listings {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 200px;
	width: 400px;
}
.listings-container {
	height: 100%;
	overflow-y: auto;
	padding-bottom: 50px;
}
.listings-order {
	background: #26a8eb;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	line-height: 60px;
	padding-left: 30px;
}
.listings-order-selection {
	display: inline-block;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
	width: 160px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	border: none;
	-webkit-appearance: none;
	background-color: #26a8eb;
	background-image: url(../images/dropdown_arrow_white.png);
	background-repeat: no-repeat;
	background-position: right 15px center;
	background-size: 9px 5px;
	margin: -4px 0 0 0;
}
.listings h2 {
	color: #9da1a8;
	font-size: 14px;
	padding-left: 30px;
}
.l-entry {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	padding-left: 30px;
	padding-bottom: 0;
	position: relative;
}
.l-entry-headers {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}
.l-entry h3 {
	color: #1c4154;
	font-size: 18px;
	margin: 0;
	-moz-transition: color .5s ease, background-color .5s ease;
	-ms-transition: color .5s ease, background-color .5s ease;
	-o-transition: color .5s ease, background-color .5s ease;
	-webkit-transition: color .5s ease, background-color .5s ease;
	transition: color .5s ease, background-color .5s ease;
}
.l-entry h4 {
	color: #454648;
	font-size: 12px;
	font-weight: normal;
	margin: -10px 0 0;
	-moz-transition: color .5s ease, background-color .5s ease;
	-ms-transition: color .5s ease, background-color .5s ease;
	-o-transition: color .5s ease, background-color .5s ease;
	-webkit-transition: color .5s ease, background-color .5s ease;
	transition: color .5s ease, background-color .5s ease;
}
.lei-item {
  display: inline-block;
  width: 54px;
  height: 54px;
  margin-top: 10px;
  margin-right: 15px;
  float: left;
  border: 1px solid #ddd;
  border-radius: 35px;
  color: #9da1a8;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.lei-item.leii-s2 {
  display: block;
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}
.lei-item-important {
  display: block;
  margin-top: 12px;
  color: #454648;
  font-size: 24px;
  line-height: 16px;
  font-weight: 900;
}
.lei-item-important.leiii-2 {
  margin-top: 12px;
  font-size: 24px;
  line-height: 16px;
}
.lei-item-icon {
  margin-top: 8px;
  margin-right: 10px;
  float: left;
  font-family: Fontawesome, sans-serif;
  color: #454648;
  font-size: 24px;
	-moz-transition: color .5s ease, background-color .5s ease;
	-ms-transition: color .5s ease, background-color .5s ease;
	-o-transition: color .5s ease, background-color .5s ease;
	-webkit-transition: color .5s ease, background-color .5s ease;
	transition: color .5s ease, background-color .5s ease;
}
.lei-item-text {
  float: right;
}
.l-entry p {
	color: #9da1a8;
	font-size: 12px;
	padding: 14px 0;
	margin: 0;
}
.l-entry-num {
	background: #ddd;
    border-radius: 50%;
	bottom: -12px;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	height: 25px;
	left: 50%;
	line-height: 25px;
	margin-left: -12px;
	width: 25px;
	position: absolute;
	text-align: center;
	-moz-transition: color .5s ease, background-color .5s ease;
	-ms-transition: color .5s ease, background-color .5s ease;
	-o-transition: color .5s ease, background-color .5s ease;
	-webkit-transition: color .5s ease, background-color .5s ease;
	transition: color .5s ease, background-color .5s ease;
}
.l-entry-link {
	display: block;
	text-decoration: none;
}
.l-entry-link:hover h3,
.l-entry-link:hover h4,
.l-entry-link:hover .lei-item-icon {
	color: #26a8eb;
}
.l-entry-link:hover .l-entry-num {
	background-color: #163240;
}
.hide-on-large-screen {
	display: none;
}

/* Company */

.page-intro {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #0d8fc1;
  color: white;
  text-align: center;
}
.company-intro {
  background-color: black;
  background-image: url('../images/bg-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.agents-intro {
  background-color: #0d8fc1;
  background-image: url('../images/bg-9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.agent-intro {
  background-color: #0d8fc1;
  background-image: url('../images/bg-5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.we-buy-houses-intro {
  background-color: black;
  background-image: url('../images/bg-7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 15%;
  padding-bottom: 15%;
}
.page-agent-photo img {
  border-radius: 50%;
  margin-bottom: 50px;
  max-width: 300px;
  width: 100%;
}
.page-intro h2 {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
}
.page-intro p {
  display: block;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 30px;
}
.page-highlight-big {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #fff;
  color: #555;
  text-align: center;
}
.page-highlight-big .phb-symbol-1 {
	font-size: 100px;
	padding: 15px 30px;
}
.page-highlight-big.light-blue .phb-symbol-1 {
	color: #d0e4ef;
}
.page-highlight-big h2 {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 36px;
  font-style: italic;
  line-height: 48px;
  font-weight: 300;
}
.page-highlight-big.light-blue h2 {
	color: #31a9e8;
}
.bg-8 {
  background-color: black;
  background-image: url('../images/bg-8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.page-content {
  padding-bottom: 100px;
  padding-top: 90px;
  font-size: 16px;
  line-height: 24px;
}
.page-content a,
.company-offices a {
	color: #333;
	text-decoration: none;
	-moz-transition: color .5s ease, background-color .5s ease;
	-ms-transition: color .5s ease, background-color .5s ease;
	-o-transition: color .5s ease, background-color .5s ease;
	-webkit-transition: color .5s ease, background-color .5s ease;
	transition: color .5s ease, background-color .5s ease;
}
.page-content a:hover,
.company-offices a:hover {
	color: #00a7e8;
}
.page-content p {
	margin: 22px 0;
}
.agent-list {
    border-radius: 5px;
	color: #999 !important;
	font-size: 24px;
	font-weight: 300;
	display: block;
	margin-bottom: 50px;
	padding: 30px;
	text-align: center;
}
.agent-list:hover {
	background-color: #f0f0f0;
	color: #333 !important;
}
.agent-list img {
  border-radius: 50%;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  width: 80%;
}
.agent-contact {
	margin-bottom: 20px;
}
.agent-contact dt,
.agent-contact dd {
	float: left;
	padding: 0;
	margin: 0;
}
.agent-contact dt {
	color: #00a7e8;
	width: 10%;
}
.agent-contact dd {
	color: #728d9b;
	font-weight: 900;
	width: 90%;
}
.page-dl {
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 30px;
}
.page-dl dt,
.page-dl dd {
	padding: 0;
	margin: 0;
}
.page-dl dt {
	color: #00a7e8;
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
	width: 100%;
}
.page-dl dd {
	color: #999;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
	width: 100%;
}
.page-content-intro {
  padding-right: 30px;
  color: #77787b;
}
.company-offices {
	background-color: #eaf5fa;
  padding-bottom: 100px;
  padding-top: 90px;
  font-size: 16px;
  line-height: 24px;
}
.company-offices h2 {
	text-align: center;
}
.company-photo img {
	max-width: 100%;
}
.company-office {
	border-right: 1px solid #d3eaf5;
	margin-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;
}
.company-offices h3 {
	color: #446576;
	font-weight: 300;
}
.company-office p {
	font-style: italic;
}
.company-offices dt,
.company-offices dd {
	float: left;
	padding: 0;
	margin: 0;
}
.company-offices dt {
	color: #446576;
	width: 10%;
}
.company-offices dd {
	color: #728d9b;
	width: 90%;
}
.company-office-no-border-right {
	border-right: none;
}
.page-footer-contact {
	border-top: 2px solid #eee;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}

@media (max-width: 991px) {
  .callout-h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .hero-search-box {
    width: 80%;
  }
  .hero-search-input {
    width: 300px;
  }
  .featured-agents-list-wrapper {
    width: 560px;
  }
  .featured-agents-list-item {
    margin-bottom: 25px;
  }
  .featured-listings-item.fli-nearby {
    width: auto;
  }
  .footer-links {
    margin-left: 20px;
  }
  .footer-links-heading {
    margin-left: 20px;
  }
  .agi-slider-nav.agisn-left {
    left: 10px;
    padding-left: 10px;
    background-color: whitesmoke;
  }
  .agi-slider-nav.agisn-right {
    right: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
  }
  .afl-item {
    width: 33%;
  }
  .akdl-item {
    width: 30%;
  }
  .global-nav-button {
    margin-top: 40px;
  }
  .global-nav-button.w--open {
    background-color: white;
  }
  .global-nav-button-icon {
    color: #c5c6c7;
  }
  .global-nav-open {
    background-color: white;
	border-top: 1px solid #eee;
  }
.global-nav-link.gnl-subpage {
  margin-top: 10px;
}
	.hsearch-bar-input {
		width: 260px;
	}
	.listings-map {
		top: 195px;
	}
	.listings {
		top: 195px;
	}
}
@media (max-width: 767px) {
  .hero {
    height: auto;
  }
  .hero-brand {
    position: static;
    padding-top: 60px;
  }
  .home-logo {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-callout {
    position: static;
    display: block;
    width: 80%;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  .callout-h1 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }
  .hero-search {
    position: static;
    margin-top: 60px;
  }
  .hero-search-input {
    width: 80%;
    margin-top: 10px;
    margin-right: 0px;
  }
  .hero-search-input.hero-search-input-selection {
    width: 80%;
  }
  .hero-search-button {
    width: 80%;
    margin-top: 10px;
  }
  .hero-go {
    position: static;
    display: block;
    width: 80%;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px;
  }
  .global-nav-link.gnl-subpage {
    display: block;
    margin-top: 0px;
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-style: none;
    background-position: -5px 50%;
  }
  .global-nav-link.gnl-subpage:hover {
    border-bottom-width: 0px;
    color: #c5c6c7;
  }
  .featured-agents-list-wrapper {
    width: 420px;
  }
  .featured-listings {
    padding-right: 20px;
    padding-left: 20px;
  }
  .featured-listings.featured-listings-nearby {
    padding-right: 20px;
    padding-left: 20px;
  }
  .font-awesome.for-social-media {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .font-awesome.for-social-media.fsm-left {
    margin-left: auto;
  }
  .font-awesome.for-footer {
    margin-right: auto;
    margin-left: auto;
  }
  .home-highlight {
    padding-right: 20px;
    padding-left: 20px;
  }
  .social-media-container {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .footer-links-block {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #1c4154;
    border-left-style: none;
  }
  .global-footer-seo {
    padding-right: 30px;
    padding-left: 30px;
  }
  .global-footer-copyright {
    padding-right: 30px;
    padding-left: 30px;
  }
  .global-footer-copyright-link {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px;
    float: none;
  }
  .footer-copyright-text {
    margin-top: 50px;
  }
  .subpage-h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .agi-quick-info {
    padding-right: 20px;
    padding-left: 20px;
  }
  .agi-other {
    padding-right: 20px;
    padding-left: 20px;
  }
  .agi-share {
    margin-top: 30px;
    text-align: left;
  }
  .apartment-details,
  .page-content,
  .company-offices,
  .p-highlights {
    padding-right: 20px;
    padding-left: 20px;
  }
  .company-office {
	border-right: none;
	border-bottom: 1px solid #d3eaf5;
	padding-bottom: 50px;
  }
  .page-content-intro {
	  padding-bottom: 50px;
  }
  .company-office-no-border-bottom {
	  border-bottom: none;
  }
  .afl-item {
    width: 50%;
  }
  .pfl-item {
    width: 100%;
  }
  .apartment-key-details {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .akdl-item {
    width: 47%;
  }
  .local-info.li-forest-hills,
  .page-intro,
  .page-highlight-big {
    padding-right: 20px;
    padding-left: 20px;
  }
  .page-footer-contact,
  .apartment-footer-cta {
    padding-right: 20px;
    padding-left: 20px;
  }
  .ad-agent-container {
    margin-top: 30px;
  }
	.hsearch-bar {
		height: 160px;
	}
	.listings-map {
		min-height: 200px;
		position: static;
		width: 100%;
	}
	.listings {
		position: static;
		width: 100%;
	}
	.hide-on-large-screen {
		display: inherit;
	}
	.page-highlight-big .phb-symbol-1 {
		padding-top: 50px;
		text-align: center !important;
	}
}
@media (max-width: 599px) {
  .featured-agents-list-wrapper {
    width: 280px;
  }
}
@media (max-width: 479px) {
	.hsearch-bar {
		height: 200px;
	}
	.hsearch-bar-input {
		width: 240px;
	}
  p {
    font-size: 18px;
  }
  .button.featured-agents-desc-button {
    font-size: 18px;
  }
  .featured-agents-list-wrapper {
    width: 140px;
  }
  .button.home-highlight-button {
    font-size: 18px;
    line-height: 50px;
  }
  .button.agi-button {
    display: block;
    width: 70%;
    margin: 0px auto;
  }
  .button.agi-button.agib-left.agib-current {
    margin-top: 30px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
  .button.agi-button.agib-right {
    margin-bottom: 40px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
  .button.mip-button-1 {
    font-size: 18px;
    line-height: 50px;
  }
  .callout-p {
    font-size: 18px;
  }
  .hero-search-link {
    display: block;
  }
  .hero-search-link.hsl-left {
    display: block;
    border-right-style: none;
  }
  .featured-agents-desc-h {
    font-size: 20px;
  }
  .mip-h2 {
    font-size: 24px;
  }
  .mip-h3.close-top {
    font-size: 16px;
    line-height: 22px;
  }
  .featured-listings-item.fli-nearby {
    display: block;
    text-align: center;
  }
  .featured-listings-item-pic.flip-nearby {
    display: inline-block;
  }
  .featured-listings-item-price.flipr-nearby {
    margin-top: 0px;
  }
  .agi-share-link {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 0px;
  }
  .afl-item {
    width: 100%;
  }
  .akdl-item {
    width: 97%;
  }
  .fli-nearby-left {
    margin-right: 0px;
    float: none;
  }
  .fli-nearby-right {
    float: none;
  }
  .global-footer-seo-p {
    font-size: 12px;
  }
  .agi-share-text {
    display: block;
  }
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
