<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>    
  <system.net>    
    <mailSettings>
      <smtp from="chris@gvs4u.com">
        <network host="smtp.emailsrvr.com" password="Passw0rd" userName="chris@gvs4u.com" enableSsl="false" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ShortSaleEntities" connectionString="metadata=res://*/ADOEntity.ShortSale.csdl|res://*/ADOEntity.ShortSale.ssdl|res://*/ADOEntity.ShortSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/DataModel.PortalEntityModel.csdl|res://*/DataModel.PortalEntityModel.ssdl|res://*/DataModel.PortalEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;user id=Steven;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Office365UserName" value="georgev@gvs4u.org" />
    <add key="Office365Password" value="Pupamutata1234$" />
    <add key="Office365ServerUrl" value="https://gvs4uinc.sharepoint.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>