<div class="row">
    <div class="col-md-10"><h3> {{SelectItem.PropertyAddress}}</h3></div>
    <!--<div class="col-md-2"><button class="btn btn-primary" type="button" ng-click="SaveAuction(auction)">Save</button></div>-->
</div>
<style>
    .wx_scorll_list .panel-body
    {
        font-size:
    }
</style>
<div class="wx_scorll_list" data-bottom="90" style="margin-top:5px">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Owner</div>
                <div class="panel-body">
                    <ul>
                        <li>Name: {{SelectItem.Owner}}</li>
                        <li>Address:{{}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Property</div>
                <div class="panel-body">
                    <ul>
                        <li>Zip: {{SelectItem.ZipCode}}</li>
                        <li>Water {{SelectItem.WaterAmt | currency}}</li>
                        <li>Taxes: {{SelectItem.TaxesAmt | currency}}</li>
                        <li>ECB Violations: {{SelectItem.ECBViolationsAmt | currency}}</li>
                        <li>DOB Violations: {{SelectItem.DOBViolationsAmt | currency}}</li>
                        <li>Property Class {{SelectItem.PropertyClass}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Lead</div>
           
            <div class="panel-body">
                <div ng-if="SelectItem.EmployeeName!=null">
                   Assign to: {{SelectItem.EmployeeName}}
                </div>
                <div class="row" ng-if="SelectItem.EmployeeName==null">
                    <div class="col-md-8">
                        <input type="text" ng-model="SelectItem.AgentAssignedChoise" uib-typeahead="agent for agent in AgentsData | filter:$viewValue | limitTo:8" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" ng-click="AssginAuctionLeads(SelectItem);">Assign</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Liens</div>
            <div class="panel-body">
                <table class="table table-striped" style="font-size:13px">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Effective</th>
                            <th>Defendant</th>
                            <th>Plaintiff</th>
                            <th>Index #</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="li in SelectItem.LisPens">
                            <td>{{li.Type}}</td>
                            <td>{{li.Effective |date:'MM/dd/yyyy'}}</td>
                            <td>{{li.Defendant}}</td>
                            <td>{{li.Plaintiff}}</td>
                            <td>{{li.Index}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
