<div class="wizard-content">
    <section>
        <div>
            <h4 class="ss_form_title ">Homeowner Incentive <a role="button" class="btn btn-default pull-right" ng-show="model=='View'&&allowEdit" href="/NewOffer/HomeownerIncentive.aspx?model=Edit&Id={{preAssign.Id}}"><i class="fa fa-edit"></i>Edit</a></h4>
            <ul class="ss_form_box clearfix">
                <li class="ss_form_item online">
                    <label class="ss_form_input_title">Property Address</label>
                    <input class="ss_form_input" ng-model="preAssign.Title" disabled>
                </li>
                <li class="ss_form_item ">
                    <label class="ss_form_input_title " ng-class="{ss_warning:!preAssign.ExpectedDate}">Expected Date of Signing </label>
                    <input class="ss_form_input" ng-model="preAssign.ExpectedDate" pt-date required data-date-start-date="+0d" />

                </li>
                <li class="ss_form_item">
                    <label class="ss_form_input_title">Check request</label>
                    <pt-radio name="PreAssign_Checkrequest0" model="preAssign.NeedCheck"></pt-radio>
                </li>
                <li class="ss_form_item">
                    <label class="ss_form_input_title">Manager </label>

                    <input class="ss_form_input" ng-value="preAssign.CreateBy" disabled />
                </li>
                <li class="ss_form_item">
                    <label class="ss_form_input_title " ng-class="{ss_warning:CheckTotalAmount() > preAssign.DealAmount}">Total Amount paid for the deal</label>
                    <input class="ss_form_input" ng-model="preAssign.DealAmount" pt-number-mask maskformat='money' />
                </li>
                <div ng-show="preAssign.NeedCheck">
                    <li class="ss_form_item">
                        <label class="ss_form_input_title">Type of Check request</label>
                        <!--<%--ng-disabled="mode=='Edit'"--%>-->
                        <select class="ss_form_input" ng-model="preAssign.CheckRequestData.Type" disabled="disabled">
                            <option>Short Sale</option>
                            <option>Straight Sale</option>
                            <option>Other</option>
                        </select>
                    </li>
                </div>
            </ul>
        </div>

        <div class="ss_form">
            <h4 class="ss_form_title " ng-class="{ss_warning:preAssign.Parties.length<1 }">Parties  </h4>
            <ul class="ss_form_box clearfix">
                <li style="list-style: none">
                    <div id="gridParties" dx-data-grid="partiesGridOptions"></div>
                </li>
            </ul>
        </div>

        <div class="ss_form" ng-if="preAssign.NeedCheck">
            <h4 class="ss_form_title " ng-class="{ss_warning:preAssign.CheckRequestData.Checks.length<1}">Checks </h4>
            <ul class="ss_form_box clearfix">
                <li style="list-style: none">
                    <div id="gridChecks" dx-data-grid="checkGridOptions"></div>
                </li>
            </ul>
        </div>
        <div class="ss-form">
            <h4 class="ss_form_title " ng-class="{ss_warning:!preAssign.ApprovalFile}">Approval File</h4>
            <ul class="ss_form_box clearfix">
                <li style="list-style: none; padding-top:10px">
                    <pt-file file-model="preAssign.ApprovalFile" file-bble="preAssign.BBLE" file-id="fileid" file-name="emails" upload-type="emails"></pt-file>
                </li>
            </ul>
        </div>
    </section>
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-default" ng-click="Save()">{{preAssign.Id ?'Update':'Submit'}} </button>

</div>