/* -- ValidationSummary -- */
.dxvsValidationSummary_MetropolisBlue1
{
	font: 12px 'Source Sans Pro','Segoe UI';
	color: Red;
}
.dxvsValidationSummary_MetropolisBlue1 td.dxvsRC_MetropolisBlue1
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_MetropolisBlue1 .dxvsE_MetropolisBlue1
{
}
.dxvsValidationSummary_MetropolisBlue1 table.dxvsHT_MetropolisBlue1
{
	width: 100%;
}
.dxvsValidationSummary_MetropolisBlue1 td.dxvsH_MetropolisBlue1
{
	padding: 2px 0;
}
.dxvsValidationSummary_MetropolisBlue1 a.dxvsHL_MetropolisBlue1,
.dxvsValidationSummary_MetropolisBlue1 a.dxvsHL_MetropolisBlue1:visited
{
	color: red;
}
.dxvsValidationSummary_MetropolisBlue1 a.dxvsHL_MetropolisBlue1
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_MetropolisBlue1 a.dxvsHL_MetropolisBlue1:hover
{
	color: #f70;
}
.dxvsValidationSummary_MetropolisBlue1 table.dxvsT_MetropolisBlue1
{
}
.dxvsValidationSummary_MetropolisBlue1 tr.dxvsE_MetropolisBlue1
{
}
.dxvsValidationSummary_MetropolisBlue1 td.dxvsETC_MetropolisBlue1
{
	padding: 2px 0;
}
.dxvsValidationSummary_MetropolisBlue1 ul.dxvsL_MetropolisBlue1
{
}
.dxvsValidationSummary_MetropolisBlue1 ol.dxvsL_MetropolisBlue1
{
}
.dxvsValidationSummary_MetropolisBlue1 li.dxvsE_MetropolisBlue1
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_MetropolisBlue1
{
    font: 12px 'Source Sans Pro','Segoe UI';
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled_MetropolisBlue1 .dxeTBHSys a,
.dxeDisabled_MetropolisBlue1 .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_MetropolisBlue1
{
	font-size: 0;
}

.dxeTBScale_MetropolisBlue1, .dxeTBTrack_MetropolisBlue1, dxeTBBarHighlight
{
	cursor: pointer;
}

.dxeTBScale_MetropolisBlue1 
{
	z-index: 1;
}
.dxeTBSecondaryDH_MetropolisBlue1, .dxeTBMainDH_MetropolisBlue1
{
	z-index: 4;
}

.dxeTrackBar_MetropolisBlue1.dxeTBHSys
{
	width: 170px;
	height: 41px;
}
.dxeTrackBar_MetropolisBlue1.dxeTBVSys
{
	height: 170px;
	width: 41px;
}
.dxeTrackBar_MetropolisBlue1.dxeTBBScaleSys.dxeTBVSys
{
	width: 59px;
}
.dxeTrackBar_MetropolisBlue1.dxeTBBScaleSys.dxeTBHSys
{	
	height: 59px;
}

.dxeTBTrack_MetropolisBlue1 
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_MetropolisBlue1
{
	background: url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_MetropolisBlue1
{
	background:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_MetropolisBlue1
{
	height: 10px;
}
.dxeTBHSys .dxeTBBarHighlight_MetropolisBlue1
{
    top: 3px;
	height: 4px;
}
.dxeTBVSys .dxeTBTrack_MetropolisBlue1
{
	width: 10px;
}
.dxeTBVSys .dxeTBBarHighlight_MetropolisBlue1
{
    left: 3px;
	width: 4px;
}

.dxeTBHSys .dxeTBMainDH_MetropolisBlue1, .dxeTBHSys .dxeTBSecondaryDH_MetropolisBlue1
{	
	top: -1px;
	width:7px;
	height:12px;
}
.dxeTBVSys .dxeTBMainDH_MetropolisBlue1, .dxeTBVSys .dxeTBSecondaryDH_MetropolisBlue1
{
	left: -1px;
	width: 12px;
	height: 7px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_MetropolisBlue1, .dxeTBVSys .dxeTBTrack_MetropolisBlue1
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_MetropolisBlue1
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_MetropolisBlue1
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_MetropolisBlue1, .dxeTBHSys .dxeTBTrack_MetropolisBlue1
{
	top: 6px;
}

.dxeTBBarHighlight_MetropolisBlue1
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_MetropolisBlue1
{
	background: #ff400d;
}
.dxeTBVSys .dxeTBBarHighlight_MetropolisBlue1
{
	background: #ff400d;
}

.dxeTBRBLabel_MetropolisBlue1, .dxeTBLTLabel_MetropolisBlue1
{
	text-align: center;
	color: #999999;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_MetropolisBlue1, .dxeTBSmallTickSys .dxeTBLTLabel_MetropolisBlue1,
.dxeTBLargeTickSys .dxeTBRBLabel_MetropolisBlue1, .dxeTBLargeTickSys .dxeTBLTLabel_MetropolisBlue1 
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_MetropolisBlue1,.dxeTBHSys .dxeTBLTLabel_MetropolisBlue1
{
	width: 100%;
}

.dxeTBIncBtn_MetropolisBlue1, .dxeTBDecBtn_MetropolisBlue1
{
}

.dxeTBVSys .dxeTBRBLabel_MetropolisBlue1, 
.dxeTBVSys .dxeTBLTLabel_MetropolisBlue1
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue1
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_MetropolisBlue1, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_MetropolisBlue1
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_MetropolisBlue1, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue1
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_MetropolisBlue1, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_MetropolisBlue1
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_MetropolisBlue1, 
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_MetropolisBlue1
{
	top: 0px;
}
.dxeTBItem_MetropolisBlue1
{
	color: #8c8c8c;
}

.dxeTBHSys .dxeTBItem_MetropolisBlue1 .dxeTBRBLabel_MetropolisBlue1, 
.dxeTBHSys .dxeTBItem_MetropolisBlue1 .dxeTBLTLabel_MetropolisBlue1 
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys 
.dxeTBItem_MetropolisBlue1 .dxeTBRBLabel_MetropolisBlue1 
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys 
.dxeTBItem_MetropolisBlue1 .dxeTBLTLabel_MetropolisBlue1 
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MetropolisBlue1 .dxeTBRBLabel_MetropolisBlue1 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_MetropolisBlue1 .dxeTBRBLabel_MetropolisBlue1,
.dxeTBSelectedItem_MetropolisBlue1 .dxeTBLTLabel_MetropolisBlue1,
.dxeTBSelectedTick_MetropolisBlue1 .dxeTBRBLabel_MetropolisBlue1, 
.dxeTBSelectedTick_MetropolisBlue1 .dxeTBLTLabel_MetropolisBlue1
{
	color: #ff400d;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_MetropolisBlue1
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_MetropolisBlue1
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue1
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_MetropolisBlue1
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue1
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_MetropolisBlue1 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_MetropolisBlue1
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_MetropolisBlue1
{
	background-image: url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_MetropolisBlue1
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_MetropolisBlue1
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_MetropolisBlue1
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_MetropolisBlue1
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_MetropolisBlue1
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_MetropolisBlue1
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_MetropolisBlue1
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_MetropolisBlue1, .dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_MetropolisBlue1
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_MetropolisBlue1, .dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_MetropolisBlue1
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_MetropolisBlue1, .dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_MetropolisBlue1
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_MetropolisBlue1, .dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_MetropolisBlue1
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_MetropolisBlue1, 
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_MetropolisBlue1
{
	margin-left: -10px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_MetropolisBlue1,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_MetropolisBlue1
{
	margin-top: -10px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_MetropolisBlue1
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_MetropolisBlue1
{ 
	margin-top: -5px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_MetropolisBlue1, 
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_MetropolisBlue1
{
	right: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_MetropolisBlue1, 
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_MetropolisBlue1
{
	bottom: 0px;
}

.dxeHelpText_MetropolisBlue1,
.dxeTBValueToolTip_MetropolisBlue1
{
    font: 12px 'Source Sans Pro','Segoe UI';
}
div.dxeHelpText_MetropolisBlue1,
.dxeTBValueToolTip_MetropolisBlue1
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    background: white;
    z-index: 41998;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #c0c0c0;
}
td.dxeHelpText_MetropolisBlue1 {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_MetropolisBlue1 label {
    font-size: 0.91em;
}
td.dxeHelpText_MetropolisBlue1.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_MetropolisBlue1.dxeVHelpTextSys {
    padding: 2px 0;
}

/* Loading */
.dxlpLoadingPanel_MetropolisBlue1,
.dxlpLoadingPanelWithContent_MetropolisBlue1
{
	border: 1px solid #C3C3C3;
	background-color: white;
	font: 12px 'Source Sans Pro','Segoe UI';
	color: #333333;
}
.dxlpLoadingPanel_MetropolisBlue1 td.dx,
.dxlpLoadingPanelWithContent_MetropolisBlue1 td.dx
{
	font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}
.dxcaLoadingPanel_MetropolisBlue1 .dxlp-loadingImage,
.dxlpLoadingPanel_MetropolisBlue1 .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_MetropolisBlue1 .dxlp-loadingImage {
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_MetropolisBlue1
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue1
{
    background-color: transparent!important;
    font-size: 0!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue1 td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue1 td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_MetropolisBlue1 td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_MetropolisBlue1
{
}
.dxeBase_MetropolisBlue1
{
	font: 12px 'Source Sans Pro','Segoe UI';
	color: #333333;
}
/* InternalCheckBox */
.dxeIRBFocused_MetropolisBlue1
{
    outline: 1px dotted #ff400d;

	*border: 1px dotted #ff400d;
	*margin: 0;
}
.dxeIRadioButton_MetropolisBlue1
{
}
.dxeBase_MetropolisBlue1 .dxichCellSys,
.dxeBase_MetropolisBlue1.dxichCellSys
{
    padding: 2px 3px 1px;
}
.dxeBase_MetropolisBlue1 .dxichTextCellSys
{
    padding: 1px 0 1px;
}
/* -- ErrorFrame -- */
.dxeErrorCell_MetropolisBlue1
{
	font: 12px 'Source Sans Pro','Segoe UI';
	color: Red;
    border-color: black;
	padding-left: 4px;
	padding-right: 4px;
}
.dxeErrorFrameWithoutError_MetropolisBlue1
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_MetropolisBlue1 .dxeControlsCell_MetropolisBlue1,
.dxeErrorFrameWithoutError_MetropolisBlue1.dxeControlsCell_MetropolisBlue1
{
	padding: 2px;
}

.dxeEditArea_MetropolisBlue1
{
	border: 1px solid #A0A0A0;
}
.dxeEditArea_MetropolisBlue1,
body input.dxeEditArea_MetropolisBlue1 /*Bootstrap correction*/
{
	color: #333333;
}
input[type="text"].dxeEditArea_MetropolisBlue1, /*Bootstrap correction*/
input[type="password"].dxeEditArea_MetropolisBlue1 /*Bootstrap correction*/
{
    margin-top: 0;
    margin-bottom: 0;
}
@-moz-document url-prefix() {
    input[type="text"].dxeEditArea_MetropolisBlue1,
    input[type="password"].dxeEditArea_MetropolisBlue1
    {
        margin-top: 0;
        margin-bottom: -1px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) /* Chrome */
{
    input[type="text"].dxeEditArea_MetropolisBlue1,
    input[type="password"].dxeEditArea_MetropolisBlue1
    {
        margin-top: 1px;
        margin-bottom: 0;
    }
}
noindex:-o-prefocus, 
input[type="text"].dxeEditArea_MetropolisBlue1,
input[type="password"].dxeEditArea_MetropolisBlue1
{
    margin-top: 1px;
    margin-bottom: 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_MetropolisBlue1,
.dxeCalendarButton_MetropolisBlue1,
.dxeSpinIncButton_MetropolisBlue1,
.dxeSpinDecButton_MetropolisBlue1,
.dxeSpinLargeIncButton_MetropolisBlue1,
.dxeSpinLargeDecButton_MetropolisBlue1,
.dxeColorEditButton_MetropolisBlue1
{
	background-color: white;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
} 
.dxeButtonEditButton_MetropolisBlue1
{
	padding: 0px 2px 0px 3px;
}
.dxeSpinIncButton_MetropolisBlue1
{
	padding: 2px 2px 2px 3px;
}
.dxeSpinDecButton_MetropolisBlue1
{
	padding: 3px 2px 2px 3px;
}
.dxeSpinLargeIncButton_MetropolisBlue1
{
	padding: 0px 5px 0px 6px;
}
.dxeSpinLargeDecButton_MetropolisBlue1
{
	padding: 0px 6px 0px 5px;
}
.dxeCalendarButton_MetropolisBlue1,
.dxeColorEditButton_MetropolisBlue1
{
	border: 1px solid #c0c0c0;
	padding: 3px 11px 4px;
	min-width: 37px;
	text-align: center;
	white-space: nowrap;
}
.dxeCalendarButton_MetropolisBlue1.dxeButtonDisabled_MetropolisBlue1,
.dxeColorEditButton_MetropolisBlue1.dxeButtonDisabled_MetropolisBlue1
{
	color: #bdbdbd;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_MetropolisBlue1,
.dxeButtonEditButtonPressed_MetropolisBlue1,
.dxeSpinIncButtonPressed_MetropolisBlue1,
.dxeSpinDecButtonPressed_MetropolisBlue1,
.dxeSpinLargeIncButtonPressed_MetropolisBlue1, 
.dxeSpinLargeDecButtonPressed_MetropolisBlue1,
.dxeColorEditButton_MetropolisBlue1:active
{
	background-color: #c0c0c0;
	color: white;
}
/* -- Hover -- */
.dxeCalendarButtonHover_MetropolisBlue1,
.dxeButtonEditButtonHover_MetropolisBlue1,
.dxeSpinIncButtonHover_MetropolisBlue1,
.dxeSpinDecButtonHover_MetropolisBlue1,
.dxeSpinLargeIncButtonHover_MetropolisBlue1,
.dxeSpinLargeDecButtonHover_MetropolisBlue1,
.dxeColorEditButton_MetropolisBlue1:hover
{
	background-color: #ff400d;
	color: white;
}
.dxeCalendarButtonHover_MetropolisBlue1,
.dxeColorEditButton_MetropolisBlue1:hover
{
	border-color: #ff400d;
}

.dxeButtonEdit_MetropolisBlue1
{
	background-color: white;
	/*delete border by steven */
	/*border: 1px solid #c0c0c0;*/
	width: 170px;
	font: 12px 'Source Sans Pro','Segoe UI';
    
    border-collapse: separate;
    border-spacing: 0;
}

.dxeButtonEdit_MetropolisBlue1 .dxeEditArea_MetropolisBlue1
{
	background-color: white;
}
.dxeButtonEdit_MetropolisBlue1 .dxeEditArea_MetropolisBlue1,
.dxeButtonEdit_MetropolisBlue1 td.dxic
{
	width: 100%;
}
.dxeButtonEdit_MetropolisBlue1 .dxeIIC img
{
	padding-left: 3px;
}

.dxeTextBox_MetropolisBlue1
{
	background-color: white;
	/*delte edit border by steven*/
	/*border: 1px solid #c0c0c0;*/
	font: 12px 'Source Sans Pro','Segoe UI';
}

.dxeTextBox_MetropolisBlue1 .dxeEditArea_MetropolisBlue1
{
	background-color: white;
}
.dxeRadioButtonList_MetropolisBlue1, .dxeCheckBoxList_MetropolisBlue1
{
	border: 1px Solid #c0c0c0;
}

.dxeCheckBoxList_MetropolisBlue1 .dxe > table,
.dxeRadioButtonList_MetropolisBlue1 .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_MetropolisBlue1,
.dxeCheckBoxList_MetropolisBlue1
{
	font: 12px 'Source Sans Pro','Segoe UI';
}
.dxeRadioButtonList_MetropolisBlue1 td.dxe,
.dxeCheckBoxList_MetropolisBlue1 td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_MetropolisBlue1[dir='rtl'] td.dxe,
.dxeCheckBoxList_MetropolisBlue1[dir='rtl'] td.dxe
{
	padding: 7px 11px 6px 5px;
}

/* -- Memo -- */
.dxeMemo_MetropolisBlue1
{
	background-color: white;
	border: 1px solid #c0c0c0;
	font: 12px 'Source Sans Pro','Segoe UI';
}
.dxeMemoEditArea_MetropolisBlue1
{
	background-color: white;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_MetropolisBlue1
{
	font: 12px 'Source Sans Pro','Segoe UI';
	color: #ff400d;
}

/* -- ListBox -- */
.dxeListBox_MetropolisBlue1
{
	background-color: white;
	width: 70px;
	height: 109px;
	font: 12px 'Source Sans Pro','Segoe UI';
	color: #333333;
	border: 1px solid #c0c0c0;
}
.dxeListBox_MetropolisBlue1 div.dxlbd
{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 107px;
}
.dxeListBoxItemRow_MetropolisBlue1
{
	cursor: default;
}
.dxeListBoxItem_MetropolisBlue1
{
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 3px 2px 4px 3px;
	white-space: nowrap;
	text-align: left;
}
.dxeListBoxItem_MetropolisBlue1 em
{
	background: #CFCFCF none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}
.dxeListBoxItemRow_MetropolisBlue1:last-child > .dxeListBoxItem_MetropolisBlue1
{
	border-bottom-width: 0;
}

.dxeListBox_MetropolisBlue1 td.dxeI,
.dxeListBox_MetropolisBlue1 td.dxeIM,
.dxeListBox_MetropolisBlue1 .dxeHIC, 
.dxeListBox_MetropolisBlue1 td.dxeFTM,
.dxeListBox_MetropolisBlue1 td.dxeTM,
.dxeListBox_MetropolisBlue1 td.dxeC,
.dxeListBox_MetropolisBlue1 td.dxeCM,
.dxeListBox_MetropolisBlue1 td.dxeHCC,
.dxeListBox_MetropolisBlue1 td.dxeMI,
.dxeListBox_MetropolisBlue1 td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_MetropolisBlue1 td.dxeIR,
.dxeListBox_MetropolisBlue1 td.dxeIMR,
.dxeListBox_MetropolisBlue1 .dxeHICR, 
.dxeListBox_MetropolisBlue1 td.dxeFTMR,
.dxeListBox_MetropolisBlue1 td.dxeTMR,
.dxeListBox_MetropolisBlue1 td.dxeCR,
.dxeListBox_MetropolisBlue1 td.dxeCMR,
.dxeListBox_MetropolisBlue1 td.dxeHCCR,
.dxeListBox_MetropolisBlue1 td.dxeMIR,
.dxeListBox_MetropolisBlue1 td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_MetropolisBlue1 td.dxeCM,
.dxeListBox_MetropolisBlue1 td.dxeHCC,
.dxeListBox_MetropolisBlue1 td.dxeCMR,
.dxeListBox_MetropolisBlue1 td.dxeHCCR
{
	width: 29px;
    *width: 23px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dxeListBox_MetropolisBlue1 td.dxeIM,
.dxeListBox_MetropolisBlue1 td.dxeIMR
{
	width: 0;
}
.dxeListBox_MetropolisBlue1 td.dxeC > span,
.dxeListBox_MetropolisBlue1 td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_MetropolisBlue1 td.dxeCR > span,
.dxeListBox_MetropolisBlue1 td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_MetropolisBlue1 td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_MetropolisBlue1 td.dxeCR
{
	padding-left: 3px!important;
}

.dxeListBox_MetropolisBlue1 td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_MetropolisBlue1 td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}


.dxeListBox_MetropolisBlue1 td.dxeT,
.dxeListBox_MetropolisBlue1 td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_MetropolisBlue1 td.dxeTR,
.dxeListBox_MetropolisBlue1 td.dxeMIR
{
	border-right-width: 0!important;
}


.dxeListBox_MetropolisBlue1 td.dxeFTM,
.dxeListBox_MetropolisBlue1 td.dxeTM,
.dxeListBox_MetropolisBlue1 td.dxeLTM, 
.dxeListBox_MetropolisBlue1 .dxeHFC,
.dxeListBox_MetropolisBlue1 .dxeHC,
.dxeListBox_MetropolisBlue1 .dxeHLC,
.dxeListBox_MetropolisBlue1 td.dxeFTMR,
.dxeListBox_MetropolisBlue1 td.dxeTMR,
.dxeListBox_MetropolisBlue1 td.dxeLTMR, 
.dxeListBox_MetropolisBlue1 .dxeHFCR,
.dxeListBox_MetropolisBlue1 .dxeHCR,
.dxeListBox_MetropolisBlue1 .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_MetropolisBlue1 td.dxeFTM,
.dxeListBox_MetropolisBlue1 td.dxeTM, 
.dxeListBox_MetropolisBlue1 .dxeHFC,
.dxeListBox_MetropolisBlue1 .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_MetropolisBlue1 td.dxeFTMR,
.dxeListBox_MetropolisBlue1 td.dxeTMR, 
.dxeListBox_MetropolisBlue1 .dxeHFCR,
.dxeListBox_MetropolisBlue1 .dxeHCR
{
	padding-left: 6px!important;
}


.dxeListBox_MetropolisBlue1 td.dxeLTM,
.dxeListBox_MetropolisBlue1 td.dxeTM, 
.dxeListBox_MetropolisBlue1 .dxeHC,
.dxeListBox_MetropolisBlue1 .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_MetropolisBlue1 td.dxeLTMR,
.dxeListBox_MetropolisBlue1 td.dxeTMR, 
.dxeListBox_MetropolisBlue1 .dxeHCR,
.dxeListBox_MetropolisBlue1 .dxeHLCR
{
	padding-right: 6px!important;
}

/*Grid lines*/

.dxeListBox_MetropolisBlue1 td.dxeLTM,
.dxeListBox_MetropolisBlue1 td.dxeTM,
.dxeListBox_MetropolisBlue1 td.dxeMIM
{
	border-left: 1px solid #cfcfcf!important;
}

.dxeListBox_MetropolisBlue1 td.dxeLTMR,
.dxeListBox_MetropolisBlue1 td.dxeTMR,
.dxeListBox_MetropolisBlue1 td.dxeMIMR
{
	border-right: 1px solid #cfcfcf!important;
}

.dxeListBox_MetropolisBlue1 td.dxeIM,
.dxeListBox_MetropolisBlue1 td.dxeFTM,
.dxeListBox_MetropolisBlue1 td.dxeTM,
.dxeListBox_MetropolisBlue1 td.dxeLTM,
.dxeListBox_MetropolisBlue1 td.dxeCM,
.dxeListBox_MetropolisBlue1 td.dxeMIM,
.dxeListBox_MetropolisBlue1 td.dxeIMR,
.dxeListBox_MetropolisBlue1 td.dxeFTMR,
.dxeListBox_MetropolisBlue1 td.dxeTMR,
.dxeListBox_MetropolisBlue1 td.dxeLTMR,
.dxeListBox_MetropolisBlue1 td.dxeCMR,
.dxeListBox_MetropolisBlue1 td.dxeMIMR
{
	border-bottom: 1px solid #cfcfcf;
}

.dxeListBoxItemSelected_MetropolisBlue1     
{
	color: White;
	background-color: #ff400d;
}
.dxeDisabled_MetropolisBlue1.dxeListBox_MetropolisBlue1 .dxeListBoxItemSelected_MetropolisBlue1 
{
	background-color: #f0f0f0;
}
.dxeListBoxItemHover_MetropolisBlue1        
{
	background-color: #e0e0e0;
	color: #333333;
}
.dxeListBoxItemHover_MetropolisBlue1 em,
.dxeListBoxItemSelected_MetropolisBlue1 em
{
	background-image: none;
}

/*Header*/

.dxeListBox_MetropolisBlue1 .dxeHD
{
	border-bottom: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue1 .dxeHC,
.dxeListBox_MetropolisBlue1 .dxeHLC,
.dxeListBox_MetropolisBlue1 td.dxeHMIC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue1 .dxeHCR,
.dxeListBox_MetropolisBlue1 .dxeHLCR,
.dxeListBox_MetropolisBlue1 td.dxeHMICR
{
	border-right: 1px solid #A0A0A0;
	text-align: right;
}

.dxeListBox_MetropolisBlue1 .dxeHCC
{
	border-left: 1px solid #c0c0c0;
}

.dxeListBox_MetropolisBlue1 .dxeHICR,
.dxeListBox_MetropolisBlue1 .dxeHFCR,
.dxeListBox_MetropolisBlue1 .dxeHCCR
{
	border-right: 1px solid #dcdcdc;
	text-align: right;
}

.dxeListBox_MetropolisBlue1 .dxeHFC,
.dxeListBox_MetropolisBlue1 .dxeHC,
.dxeListBox_MetropolisBlue1 .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_MetropolisBlue1 .dxeHFCR,
.dxeListBox_MetropolisBlue1 .dxeHCR,
.dxeListBox_MetropolisBlue1 .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_MetropolisBlue1 .dxeHLC
{
	border-right: 1px solid #dcdcdc;
}

.dxeListBox_MetropolisBlue1 .dxeHLCR
{
	border-left: 1px solid #dcdcdc;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_MetropolisBlue1
{
	background-color: White;
	color: #333333;
    font: 12px 'Source Sans Pro','Segoe UI';
	font-weight: normal;
	cursor: default;
}
.dxeCalendar_MetropolisBlue1.dxeFocused_MetropolisBlue1
{
	border: none;
}
.dxeCalendar_MetropolisBlue1 td.dxMonthGrid_MetropolisBlue1
{
	padding: 8px 20px;
}
.dxeCalendar_MetropolisBlue1 td.dxMonthGridWithWeekNumbers,
.dxeCalendar_MetropolisBlue1 td.dxMonthGridWithWeekNumbersRtl
{
	min-width: 244px;
	padding: 30px 40px 10px;
}
.dxeCalendarDayHeader_MetropolisBlue1
{
	padding: 2px 4px 5px;
	font-size: 1.08em;
	text-transform:uppercase;
}
.dxeCalendarWeekNumber_MetropolisBlue1
{
	font-size: 0.75em;
	text-align: right;
	padding: 6px 8px 6px 4px;
	color: #bfbfbf;
}
.dxeCalendarDay_MetropolisBlue1
{
	padding: 4px 6px;
	text-align: center;
}
.dxeCalendarWeekend_MetropolisBlue1        
{
	color: #FF3300;
}
.dxeCalendarOtherMonth_MetropolisBlue1     
{
	opacity: 0.15;
}
.dxeCalendarOutOfRange_MetropolisBlue1     
{
	color: #d0d0d0;
}
.dxeCalendarDayDisabled_MetropolisBlue1 {
	opacity: 1.0;
	background-color: #fcfcfc;
	color: #ececec!important;
}
.dxeCalendarToday_MetropolisBlue1         
{
	padding: 3px 3px 2px;
	border: 1px solid #ff400d;
}
.dxeCalendarToday_MetropolisBlue1.dxeDisabled_MetropolisBlue1         
{
	border: 1px solid #ff400d;
}
.dxeCalendarSelected_MetropolisBlue1       
{
	color: White;
	background-color: #ff400d;
}
.dxeCalendarSelected_MetropolisBlue1.dxeDisabled_MetropolisBlue1       
{
	background-color: #ffd5a6;
}
.dxeCalendarHeader_MetropolisBlue1
{
	color: #ff400d;
	padding: 4px 7px;
	font-size: 1.5em;
	padding: 4px 17px;
}
.dxeCalendarHeader_MetropolisBlue1 td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_MetropolisBlue1 .dxeCHS
{
    min-width: 10px;
    *width: 10px;
}
.dxeCalendarHeader_MetropolisBlue1 span
{
	padding: 0 16px;
	white-space: nowrap!important;
}
.dxeCalendarFooter_MetropolisBlue1
{
	padding: 8px 0px;
	border-bottom: 2px solid #c0c0c0;
}
.dxeCalendarFooter_MetropolisBlue1 .dxeCFS
{
    min-width: 12px;
    *width: 12px;
}
.dxeCalendar_MetropolisBlue1.dxeFocused_MetropolisBlue1 .dxeCalendarFooter_MetropolisBlue1
{
	border-color: #ff400d;
}
.dxeCalendarFastNav_MetropolisBlue1
{
	color: Black;
	background: White none;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_MetropolisBlue1
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_MetropolisBlue1
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_MetropolisBlue1
{
	color: Black;
	padding: 8px 0px;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	background-color: white;
}
.dxeCalendarFastNavFooter_MetropolisBlue1 .dxeCFNFS
{
    min-width: 11px;
    *width: 11px;
}
.dxeCalendarFastNavMonth_MetropolisBlue1,
.dxeCalendarFastNavYear_MetropolisBlue1
{
	color: #333333;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_MetropolisBlue1
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_MetropolisBlue1,
.dxeCalendarFastNavYearSelected_MetropolisBlue1
{
	color: White;
	background-color: #ff400d;
}
.dxeCalendarFastNavMonthHover_MetropolisBlue1,
.dxeCalendarFastNavYearHover_MetropolisBlue1
{
	color: Black;
	background: #e5e5e5 none;
	padding: 2px 4px;
	border: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonthHover_MetropolisBlue1
{
	padding: 5px;
}
.dxeDateEditTimeEditCell_MetropolisBlue1
{
    padding: 13px 41px 15px;
    width: 90px;
}
.dxeDateEditClockCell_MetropolisBlue1
{
    padding: 37px 31px 0;
}
.dxeCalendarFooter_MetropolisBlue1.dxeDETSF
{
    padding-left: 8px;
    padding-right: 8px;
}
.dxeCalendarHeader_MetropolisBlue1.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_MetropolisBlue1,
.dxeDisabled_MetropolisBlue1 td.dxe
{
	color: #c0c0c0;
	cursor: default;
}
.dxeEditArea_MetropolisBlue1.dxeDisabled_MetropolisBlue1 /*Bootstrap correction*/
{
    color: #c0c0c0;
}
a.dxeDisabled_MetropolisBlue1:hover
{
	color: #acacac;
}
.dxeButtonDisabled_MetropolisBlue1
{
	border-color: #e9e9e9;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_MetropolisBlue1
{
	color: #333333;
	border: 1px solid #c0c0c0;
	background-color: white;
	padding: 1px;
	font: 12px 'Source Sans Pro','Segoe UI';
}
.dxbButton_MetropolisBlue1.dxbDisabled_MetropolisBlue1
{
	border-color: #e9e9e9;
	color: #b8b8b8;
	cursor: default;
}
.dxbButtonHover_MetropolisBlue1
{
	color: white;
	background-color: #ff400d;
	border: 1px solid #ff400d;
}
.dxbButtonChecked_MetropolisBlue1
{
	color: #333333;
	background-color: #C0C0C0;
}
.dxbButtonPressed_MetropolisBlue1
{
	color: white;
	background-color: #C0C0C0;
}
.dxbButton_MetropolisBlue1 div.dxb
{
	padding: 2px 7px 3px;
	border: 1px dotted transparent;
}
.dxbButton_MetropolisBlue1 div.dxbf
{
	border: 1px dotted #333333;
}
/* Button Link */
a.dxbButton_MetropolisBlue1
{
    color: #ff400d;
    text-decoration: underline;
}
/* Disabled */
.dxbDisabled_MetropolisBlue1,
a.dxbButton_MetropolisBlue1.dxbDisabled_MetropolisBlue1
{
	color: #C3C3C3;
	cursor: default;
    text-decoration: none;
}

/* -- FilterControl -- */
.dxfcControl_MetropolisBlue1
{
	font: 12px 'Source Sans Pro','Segoe UI';
	color: Black;
}
.dxfcTable_MetropolisBlue1
{
	border-collapse: separate!important;
}
.dxfcTable_MetropolisBlue1 td.dxfc
{
	padding: 0px 0px 0px 3px;
}
.dxfcTable_MetropolisBlue1 td.dxfc > table
{
	margin: 1px 0 -1px;
}
a.dxfcPropertyName_MetropolisBlue1
{
	white-space: nowrap!important;
	color: #1086d4!important;
}
a.dxfcGroupType_MetropolisBlue1
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: #db3412!important;
}
a.dxfcOperation_MetropolisBlue1
{
	white-space: nowrap!important;
	color: #6fb111!important;
}
a.dxfcValue_MetropolisBlue1
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxeMaskHint_MetropolisBlue1
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px 'Source Sans Pro','Segoe UI';
}

/* -- ProgressBar -- */
.dxeProgressBar_MetropolisBlue1
{
	background-color: #e0e0e0;
	color: #333333;
	font: 12px 'Source Sans Pro','Segoe UI';
    height: 23px;
}
.dxeProgressBar_MetropolisBlue1 .dxePBMainCell_MetropolisBlue1,
.dxeProgressBar_MetropolisBlue1 td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_MetropolisBlue1
{
	background-color: #ff400d;
}

/* -- DropDownWindow -- */
.dxpcDropDown_MetropolisBlue1,
.dxeDropDownWindow_MetropolisBlue1
{
    font: 12px 'Source Sans Pro','Segoe UI';
}
.dxeDropDownWindow_MetropolisBlue1
{
	background-color: white;
	border: 1px solid #c0c0c0;
}
.dxpcDropDown_MetropolisBlue1 .dxpc-shadow
{
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_MetropolisBlue1
{
	width: 13px;
	height: 13px;
	cursor: pointer;
	margin-left: 3px;
}
.dxeItemPicker_MetropolisBlue1
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.dxeColorTable_MetropolisBlue1 td.dx,
.dxeItemPicker_MetropolisBlue1 td.dx
{
	padding: 4px;
}
.dxeColorTableCell_MetropolisBlue1,
.dxeItemPickerCell_MetropolisBlue1
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_MetropolisBlue1
{
	border: 1px solid #c0c0c0;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_MetropolisBlue1
{
	padding: 0px!important;
	background-color: #CBCBCB;
	border: 3px solid #ff400d;
}
.dxeColorTableCellSelected_MetropolisBlue1 .dxeColorTableCellDiv_MetropolisBlue1
{
	border: 1px solid white;
}
.dxeColorTableCellHover_MetropolisBlue1,
.dxeItemPickerCellHover_MetropolisBlue1
{
	padding: 0px!important;
	background-color: #F2F2F2;
	border: 3px solid #E0E0E0;
}

/* -- Invalid Style -- */
.dxeInvalid_MetropolisBlue1
{
}
.dxeInvalid_MetropolisBlue1 .dxeEditArea_MetropolisBlue1,
.dxeInvalid_MetropolisBlue1 .dxeMemoEditArea_MetropolisBlue1
{
}

/* -- Focused Style -- */
.dxeFocused_MetropolisBlue1
{
		/*delete focused border by steven */
	/*border: 1px solid #ff400d;*/
}
.dxeFocused_MetropolisBlue1.dxeTrackBar_MetropolisBlue1
{
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_MetropolisBlue1 .dxeEditArea_MetropolisBlue1,
.dxeNullText_MetropolisBlue1 .dxeMemoEditArea_MetropolisBlue1
{
	color: #818181;
}

/* -- Captcha -- */
.dxcaControl_MetropolisBlue1 
{
    font: 12px 'Source Sans Pro','Segoe UI';
}

.dxcaRefreshButton_MetropolisBlue1
{
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_MetropolisBlue1
{
	color: #acacac;
}

.dxcaRefreshButtonCell_MetropolisBlue1
{
	padding-left: 4px;
	border-bottom: 2px solid #e0e0e0;
}

.dxcaRefreshButtonText_MetropolisBlue1
{
}

.dxcaDisabledRefreshButtonText_MetropolisBlue1
{
}

.dxcaTextBoxCell_MetropolisBlue1,
.dxcaTextBoxCellNoIndent_MetropolisBlue1
{
}

.dxcaTextBoxCell_MetropolisBlue1 .dxeErrorCell_MetropolisBlue1
{
}

.dxcaTextBoxCellNoIndent_MetropolisBlue1 .dxeErrorCell_MetropolisBlue1
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_MetropolisBlue1
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_MetropolisBlue1
{
	background-color: white;
	font: 12px 'Source Sans Pro','Segoe UI';
	color: #333333;
}

.dxcaLoadingPanel_MetropolisBlue1 td.dx
{
    font-size: 1.17em;
	white-space: nowrap;
	text-align: center;
	padding: 2px;
}
.dxcaLoadingPanel_MetropolisBlue1 .dxlp-loadingImage 
{
	margin: 0px;
}
.dxpcLite_MetropolisBlue1 .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_MetropolisBlue1,
.dxeButtonEdit_MetropolisBlue1,
.dxeIRadioButton_MetropolisBlue1,
.dxeRadioButtonList_MetropolisBlue1,
.dxeCheckBoxList_MetropolisBlue1
{
    cursor: default;
}

.dxeTextBox_MetropolisBlue1 td.dxic, 
.dxeButtonEdit_MetropolisBlue1 td.dxic,
.dxeButtonEdit_MetropolisBlue1[cellspacing="0"] td.dxic 
{
    padding: 1px 3px 2px 3px;
}

.dxeButtonEdit_MetropolisBlue1 td.dxic 
{
    *padding-left: 2px;
}
*[dir="rtl"].dxeTextBox_MetropolisBlue1 td.dxic
{
    *padding-right: 2px;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_MetropolisBlue1, 
.dxeIRadioButton_MetropolisBlue1, 
.dxeButtonEdit_MetropolisBlue1, 
.dxeTextBox_MetropolisBlue1, 
.dxeRadioButtonList_MetropolisBlue1, 
.dxeCheckBoxList_MetropolisBlue1, 
.dxeMemo_MetropolisBlue1, 
.dxeListBox_MetropolisBlue1, 
.dxeCalendar_MetropolisBlue1, 
.dxeColorTable_MetropolisBlue1
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Layout Control */
.dxeLayoutConrtol_MetropolisBlue1 
{
    display: table;
}
.dxeLyGroupCell_MetropolisBlue1 
{
    padding: 5px;
}
.dxeLyItem_MetropolisBlue1 
{
}
.dxeLyCaptionCell_MetropolisBlue1
{
    padding:6px;
}
.dxeLyEditorCell_MetropolisBlue1 
{   
    padding:5px;
}

.dxeLyCaptionCell_MetropolisBlue1 
{
    color: #004184;
    font-weight: bold;
    white-space: nowrap;
}
.dxeLyEditorCell_MetropolisBlue1 
{
    width: 0;
}
.dxeLyGroupBox_MetropolisBlue1 
{
    border: 1px Solid #9F9F9F;
    border-radius: 4px;
    padding: 10px;
}
.dxeLyGroupBoxCaption_MetropolisBlue1 > span 
{
    background-color: White;
    padding-left: 5px;
    padding-right: 5px;   
}
.dxeLyGroupBoxCaption_MetropolisBlue1 
{
    position:relative;
    margin-top: -21px;
}
.dxeLyGroup_MetropolisBlue1 
{
    width: 100%;
}

.dxeLayoutConrtol_MetropolisBlue1 .dxeLyVATSys > label 
{
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
}

.dxeLyEditorCell_MetropolisBlue1 > .dxeMemoSys 
{
    margin-top: 3px;
}

.dxeLyEditorCell_MetropolisBlue1 > label.dxeBase_MetropolisBlue1 
{
    display: block;
    white-space: nowrap;
}

.dxeLyEditorCell_MetropolisBlue1 > .dxeTextBoxSys,
.dxeLyEditorCell_MetropolisBlue1 > .dxeButtonEdit_MetropolisBlue1
{
}

/* ASPxCololrEdit */
.dxcpParametersCell_MetropolisBlue1 input
{
    padding: 2px 0px 1px 5px;
}
.dxcpParametersCellSys .dxcpWebColorInput_MetropolisBlue1
{
	float: right;
	margin-top: 40px;
	*margin-top: 35px;
}
.dxcpColorParameterMainDiv_MetropolisBlue1
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_MetropolisBlue1
{
    padding-top: 2px;
    padding-bottom: 2px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxcpCurrentColor_MetropolisBlue1,
.dxcpSavedColor_MetropolisBlue1
{
	height: 35px;
}
.dxcpCurrentAndSaved_MetropolisBlue1
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_MetropolisBlue1,
.dxeColorSelectorMainDiv_MetropolisBlue1
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_MetropolisBlue1
{
	padding: 7px;
}
.dxcpColorArea_MetropolisBlue1,
.dxcpHueAreaImage_MetropolisBlue1,
.dxcpCurrentAndSaved_MetropolisBlue1,
.dxeColorTablesMainDiv_MetropolisBlue1,
.dxeColorSelectorMainDiv_MetropolisBlue1,
.dxcpParametersCell_MetropolisBlue1 input 
{
	border: 1px solid #c0c0c0;
}
.dxeButtonsPanelDiv_MetropolisBlue1
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_MetropolisBlue1 input
{
	min-width: 60px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_MetropolisBlue1[type="text"] {
	display: inline-block;
	float: left;
	width: 30px;
	outline: none;
	margin-bottom: 1px;
	padding-bottom: 1px;
}
.dxeToken_MetropolisBlue1 {
    display: inline-block;
	color: #ffffff;
	float: left;
	min-width: 30px;
	margin-right: 1px;
	margin-bottom: 1px;
	padding-bottom: 1px;
}
.dxeTokenText_MetropolisBlue1, .dxeTokenRemoveButton_MetropolisBlue1 {
	display: block;
	float: left;
}
.dxeTokenText_MetropolisBlue1 {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px 2px 0px 4px;
}
.dxeTokenRemoveButton_MetropolisBlue1 {
	cursor: pointer;
	margin-top: 2px;
	margin-bottom: -2px;
}
.dxeToken_MetropolisBlue1 {
	background: #ff400d url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxeButtonEdit_MetropolisBlue1 td.dxictb {
    padding: 1px 1px 1px 1px;
}
input.dxeTokenBoxInput_MetropolisBlue1[type="text"] {
	*padding: 1px 0px 2px 0px;
}
.dxeTokenText_MetropolisBlue1 {
	*padding: 3px 0px 1px 0px;
}
.dxeTokenRemoveButton_MetropolisBlue1 {
	*margin-top: 4px;
	*margin-bottom: 0px;
}
.dxeButtonEdit_MetropolisBlue1 td.dxictb {
    *padding: 0px;
}
@-moz-document url-prefix() {
	input.dxeTokenBoxInput_MetropolisBlue1[type="text"] {
		padding-bottom: 0px;
	}
	.dxeToken_MetropolisBlue1 {
		padding-bottom: 0px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.dxeTokenText_MetropolisBlue1 {
		padding-top: 1px;
	}
}

/* Editor caption */
.dxeCaptionCell_MetropolisBlue1
 {
    font: 12px 'Source Sans Pro','Segoe UI';
	color: #333;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_MetropolisBlue1
{
}
.dxeCaption_MetropolisBlue1
{
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 5px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* IE 7 */
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    *padding-top: 3px;
}
.dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeMemoCTypeSys
{
    *padding-top: 2px;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_MetropolisBlue1
    {
        padding-top: 3px;
    }
    .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeCheckBoxCTypeSys
    {
        padding-top: 3px;
    }
    .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeRadioButtonCTypeSys
    {
        padding-top: 4px;
    }
    .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
    {
        padding-top: 11px;
    }
    .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
    {
        padding-top: 11px;
    }
}

/* Opera */
noindex:-o-prefocus, body:first-of-type .dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_MetropolisBlue1
{
    padding-top: 3px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 4px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_MetropolisBlue1.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}

/* Firefox */
@-moz-document url-prefix() {
    .dxeMemoCTypeSys.dxeCaptionVATSys.dxeCaptionCell_MetropolisBlue1
    {
        padding-top: 3px;
    }
}

.dxeRequiredMark_MetropolisBlue1 {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_MetropolisBlue1 {
    color: gray;
    font-style: normal;
}
