.dxHtmlEditor_heConstrainProportionsBottom_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsBottomRtl_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsMiddleOff_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsMiddleOn_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsTop_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsTopRtl_MetropolisBlue1,
.dxHtmlEditor_heErrorFrameCloseButton_MetropolisBlue1,
.dxHtmlEditor_heSizeGrip_MetropolisBlue1,
.dxHtmlEditor_heSizeGripRtl_MetropolisBlue1,
.dxHtmlEditor_heToolbarPopOut_MetropolisBlue1,
.dxHtmlEditor_Icons_heBackColor_MetropolisBlue1,
.dxHtmlEditor_Icons_heBackColorDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heBold_MetropolisBlue1,
.dxHtmlEditor_Icons_heBoldDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heCenter_MetropolisBlue1,
.dxHtmlEditor_Icons_heCenterDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableCellDialog_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableDialog_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableRowDialog_MetropolisBlue1,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heCheckSpelling_MetropolisBlue1,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heCopy_MetropolisBlue1,
.dxHtmlEditor_Icons_heCopyDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heCut_MetropolisBlue1,
.dxHtmlEditor_Icons_heCutDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heDeleteTable_MetropolisBlue1,
.dxHtmlEditor_Icons_heDeleteTableColumn_MetropolisBlue1,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heDeleteTableDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heDeleteTableRow_MetropolisBlue1,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heForeColor_MetropolisBlue1,
.dxHtmlEditor_Icons_heForeColorDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heFullscreen_MetropolisBlue1,
.dxHtmlEditor_Icons_heFullscreenDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heIndent_MetropolisBlue1,
.dxHtmlEditor_Icons_heIndentDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertImageDialog_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertLinkDialog_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertOrderedList_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableDialog_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableRowAbove_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableRowBelow_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertUnorderedList_MetropolisBlue1,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heItalic_MetropolisBlue1,
.dxHtmlEditor_Icons_heItalicDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heJustifyFull_MetropolisBlue1,
.dxHtmlEditor_Icons_heJustifyFullDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heLeft_MetropolisBlue1,
.dxHtmlEditor_Icons_heLeftDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_MetropolisBlue1,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heMergeTableCellVertical_MetropolisBlue1,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heOutdent_MetropolisBlue1,
.dxHtmlEditor_Icons_heOutdentDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_hePaste_MetropolisBlue1,
.dxHtmlEditor_Icons_hePasteDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_hePasteFromWord_MetropolisBlue1,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_hePrint_MetropolisBlue1,
.dxHtmlEditor_Icons_hePrintDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heRedo_MetropolisBlue1,
.dxHtmlEditor_Icons_heRedoDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heRemoveFormat_MetropolisBlue1,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heRight_MetropolisBlue1,
.dxHtmlEditor_Icons_heRightDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsDocx_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsDocxDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsMht_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsMhtDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsOdt_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsOdtDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsPdf_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsPdfDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsRtf_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsRtfDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsTxt_MetropolisBlue1,
.dxHtmlEditor_Icons_heSaveAsTxtDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_MetropolisBlue1,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSplitTableCellVertical_MetropolisBlue1,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heStrikethrough_MetropolisBlue1,
.dxHtmlEditor_Icons_heStrikethroughDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSubscript_MetropolisBlue1,
.dxHtmlEditor_Icons_heSubscriptDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heSuperscript_MetropolisBlue1,
.dxHtmlEditor_Icons_heSuperscriptDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heUnderline_MetropolisBlue1,
.dxHtmlEditor_Icons_heUnderlineDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heUndo_MetropolisBlue1,
.dxHtmlEditor_Icons_heUndoDisabled_MetropolisBlue1,
.dxHtmlEditor_Icons_heUnlink_MetropolisBlue1,
.dxHtmlEditor_Icons_heUnlinkDisabled_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_heToolbarPopOut_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heBackColor_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heBold_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heCenter_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableCellDialog_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableColumnDialog_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableDialog_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableRowDialog_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heCheckSpelling_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heCopy_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heCut_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTable_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableColumn_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableRow_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heForeColor_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heFullscreen_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heIndent_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertImageDialog_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertLinkDialog_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertOrderedList_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnLeft_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnRight_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableDialog_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowAbove_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowBelow_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertUnorderedList_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heItalic_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heJustifyFull_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heLeft_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellHorizontal_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellVertical_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heOutdent_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_hePaste_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_hePasteFromWord_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_hePrint_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heRedo_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heRemoveFormat_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heRight_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsDocx_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsMht_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsOdt_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsPdf_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsRtf_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsTxt_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellHorizontal_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellVertical_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heStrikethrough_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSubscript_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heSuperscript_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heUnderline_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heUndo_MetropolisBlue1,
.dxm-hovered .dxHtmlEditor_Icons_heUnlink_MetropolisBlue1
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_heConstrainProportionsBottom_MetropolisBlue1
{
    background-position: -867px -34px;
    width: 11px;
    height: 7px;
}
.dxHtmlEditor_heConstrainProportionsBottomRtl_MetropolisBlue1
{
    background-position: -879px -34px;
    width: 11px;
    height: 7px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOff_MetropolisBlue1
{
    background-position: -663px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_MetropolisBlue1
{
    background-position: -833px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_MetropolisBlue1
{
    background-position: -544px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_MetropolisBlue1
{
    background-position: -442px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heConstrainProportionsTop_MetropolisBlue1
{
    background-position: -891px -34px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsTopRtl_MetropolisBlue1
{
    background-position: -903px -34px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heErrorFrameCloseButton_MetropolisBlue1
{
    background-position: -918px 0px;
    width: 9px;
    height: 9px;
}
.dxHtmlEditor_heSizeGrip_MetropolisBlue1
{
    background-position: -374px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heSizeGripRtl_MetropolisBlue1
{
    background-position: -204px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heToolbarPopOut_MetropolisBlue1
{
    background-position: -923px -13px;
    width: 5px;
    height: 3px;
}
.dxHtmlEditor_Icons_heBackColor_MetropolisBlue1
{
    background-position: -476px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBackColorDisabled_MetropolisBlue1
{
    background-position: -68px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBold_MetropolisBlue1
{
    background-position: -782px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBoldDisabled_MetropolisBlue1
{
    background-position: -340px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenter_MetropolisBlue1
{
    background-position: -765px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenterDisabled_MetropolisBlue1
{
    background-position: -323px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialog_MetropolisBlue1
{
    background-position: -476px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_MetropolisBlue1
{
    background-position: -187px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialog_MetropolisBlue1
{
    background-position: -425px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_MetropolisBlue1
{
    background-position: -799px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialog_MetropolisBlue1
{
    background-position: -765px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_MetropolisBlue1
{
    background-position: -323px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialog_MetropolisBlue1
{
    background-position: -238px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_MetropolisBlue1
{
    background-position: -255px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpelling_MetropolisBlue1
{
    background-position: -816px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpellingDisabled_MetropolisBlue1
{
    background-position: -680px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopy_MetropolisBlue1
{
    background-position: -391px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopyDisabled_MetropolisBlue1
{
    background-position: -17px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCut_MetropolisBlue1
{
    background-position: -289px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCutDisabled_MetropolisBlue1
{
    background-position: -136px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTable_MetropolisBlue1
{
    background-position: -17px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumn_MetropolisBlue1
{
    background-position: -884px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_MetropolisBlue1
{
    background-position: -697px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableDisabled_MetropolisBlue1
{
    background-position: -459px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRow_MetropolisBlue1
{
    background-position: -782px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_MetropolisBlue1
{
    background-position: -306px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColor_MetropolisBlue1
{
    background-position: -799px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColorDisabled_MetropolisBlue1
{
    background-position: -187px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreen_MetropolisBlue1
{
    background-position: -85px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreenDisabled_MetropolisBlue1
{
    background-position: -493px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndent_MetropolisBlue1
{
    background-position: -255px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndentDisabled_MetropolisBlue1
{
    background-position: -119px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialog_MetropolisBlue1
{
    background-position: -884px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_MetropolisBlue1
{
    background-position: -510px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialog_MetropolisBlue1
{
    background-position: -527px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_MetropolisBlue1
{
    background-position: -850px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedList_MetropolisBlue1
{
    background-position: -442px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_MetropolisBlue1
{
    background-position: -85px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_MetropolisBlue1
{
    background-position: -425px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_MetropolisBlue1
{
    background-position: -697px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_MetropolisBlue1
{
    background-position: -816px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_MetropolisBlue1
{
    background-position: -221px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialog_MetropolisBlue1
{
    background-position: -646px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_MetropolisBlue1
{
    background-position: -680px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAbove_MetropolisBlue1
{
    background-position: -221px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_MetropolisBlue1
{
    background-position: -136px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelow_MetropolisBlue1
{
    background-position: -595px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_MetropolisBlue1
{
    background-position: -408px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedList_MetropolisBlue1
{
    background-position: -901px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_MetropolisBlue1
{
    background-position: -833px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalic_MetropolisBlue1
{
    background-position: -748px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalicDisabled_MetropolisBlue1
{
    background-position: -170px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFull_MetropolisBlue1
{
    background-position: -102px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFullDisabled_MetropolisBlue1
{
    background-position: -476px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeft_MetropolisBlue1
{
    background-position: -459px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeftDisabled_MetropolisBlue1
{
    background-position: -663px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_MetropolisBlue1
{
    background-position: -357px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_MetropolisBlue1
{
    background-position: -850px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVertical_MetropolisBlue1
{
    background-position: -357px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_MetropolisBlue1
{
    background-position: -527px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdent_MetropolisBlue1
{
    background-position: -51px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdentDisabled_MetropolisBlue1
{
    background-position: -731px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePaste_MetropolisBlue1
{
    background-position: -102px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteDisabled_MetropolisBlue1
{
    background-position: -272px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWord_MetropolisBlue1
{
    background-position: -340px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWordDisabled_MetropolisBlue1
{
    background-position: -561px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrint_MetropolisBlue1
{
    background-position: -374px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrintDisabled_MetropolisBlue1
{
    background-position: -697px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedo_MetropolisBlue1
{
    background-position: -612px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedoDisabled_MetropolisBlue1
{
    background-position: -272px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormat_MetropolisBlue1
{
    background-position: -255px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormatDisabled_MetropolisBlue1
{
    background-position: -578px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRight_MetropolisBlue1
{
    background-position: -561px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRightDisabled_MetropolisBlue1
{
    background-position: -663px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocx_MetropolisBlue1
{
    background-position: -204px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocxDisabled_MetropolisBlue1
{
    background-position: -289px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMht_MetropolisBlue1
{
    background-position: -850px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMhtDisabled_MetropolisBlue1
{
    background-position: -748px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdt_MetropolisBlue1
{
    background-position: -391px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdtDisabled_MetropolisBlue1
{
    background-position: -561px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdf_MetropolisBlue1
{
    background-position: -425px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdfDisabled_MetropolisBlue1
{
    background-position: -612px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtf_MetropolisBlue1
{
    background-position: -629px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtfDisabled_MetropolisBlue1
{
    background-position: -833px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxt_MetropolisBlue1
{
    background-position: -510px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxtDisabled_MetropolisBlue1
{
    background-position: -153px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_MetropolisBlue1
{
    background-position: -493px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_MetropolisBlue1
{
    background-position: -34px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVertical_MetropolisBlue1
{
    background-position: -68px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_MetropolisBlue1
{
    background-position: -374px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethrough_MetropolisBlue1
{
    background-position: -527px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethroughDisabled_MetropolisBlue1
{
    background-position: -51px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscript_MetropolisBlue1
{
    background-position: -34px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscriptDisabled_MetropolisBlue1
{
    background-position: -816px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscript_MetropolisBlue1
{
    background-position: -187px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscriptDisabled_MetropolisBlue1
{
    background-position: -221px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderline_MetropolisBlue1
{
    background-position: -408px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderlineDisabled_MetropolisBlue1
{
    background-position: -544px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndo_MetropolisBlue1
{
    background-position: -629px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndoDisabled_MetropolisBlue1
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlink_MetropolisBlue1
{
    background-position: -782px -17px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlinkDisabled_MetropolisBlue1
{
    background-position: -119px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_MetropolisBlue1
{
    background-position: -921px -43px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_MetropolisBlue1
{
    background-position: -913px -43px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_MetropolisBlue1
{
    background-position: -921px -26px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_MetropolisBlue1
{
    background-position: -897px -43px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_MetropolisBlue1
{
    background-position: -881px -43px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_MetropolisBlue1
{
    background-position: -873px -43px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_MetropolisBlue1
{
    background-position: -915px -34px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_MetropolisBlue1
{
    background-position: -905px -43px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_MetropolisBlue1
{
    background-position: -918px -17px;
    width: 7px;
    height: 7px;
}
.dxHtmlEditor_RoundPanel_herpTopRightCorner_MetropolisBlue1
{
    background-position: -889px -43px;
    width: 7px;
    height: 7px;
}
.dxm-hovered .dxHtmlEditor_heToolbarPopOut_MetropolisBlue1
{
    background-position: -923px -34px;
    width: 5px;
    height: 3px;
}
.dxm-hovered .dxHtmlEditor_Icons_heBackColor_MetropolisBlue1
{
    background-position: -323px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heBold_MetropolisBlue1
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCenter_MetropolisBlue1
{
    background-position: -102px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableCellDialog_MetropolisBlue1
{
    background-position: -340px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableColumnDialog_MetropolisBlue1
{
    background-position: -136px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableDialog_MetropolisBlue1
{
    background-position: -68px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableRowDialog_MetropolisBlue1
{
    background-position: -17px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCheckSpelling_MetropolisBlue1
{
    background-position: -510px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCopy_MetropolisBlue1
{
    background-position: -306px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCut_MetropolisBlue1
{
    background-position: -629px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTable_MetropolisBlue1
{
    background-position: -170px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableColumn_MetropolisBlue1
{
    background-position: -612px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableRow_MetropolisBlue1
{
    background-position: -680px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heForeColor_MetropolisBlue1
{
    background-position: -714px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heFullscreen_MetropolisBlue1
{
    background-position: -408px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heIndent_MetropolisBlue1
{
    background-position: -867px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertImageDialog_MetropolisBlue1
{
    background-position: -238px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertLinkDialog_MetropolisBlue1
{
    background-position: -391px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertOrderedList_MetropolisBlue1
{
    background-position: -901px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnLeft_MetropolisBlue1
{
    background-position: -748px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnRight_MetropolisBlue1
{
    background-position: -714px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableDialog_MetropolisBlue1
{
    background-position: -289px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowAbove_MetropolisBlue1
{
    background-position: -867px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowBelow_MetropolisBlue1
{
    background-position: -357px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertUnorderedList_MetropolisBlue1
{
    background-position: -578px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heItalic_MetropolisBlue1
{
    background-position: -544px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heJustifyFull_MetropolisBlue1
{
    background-position: -153px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heLeft_MetropolisBlue1
{
    background-position: -272px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellHorizontal_MetropolisBlue1
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellVertical_MetropolisBlue1
{
    background-position: -646px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heOutdent_MetropolisBlue1
{
    background-position: -238px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePaste_MetropolisBlue1
{
    background-position: -153px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePasteFromWord_MetropolisBlue1
{
    background-position: -170px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePrint_MetropolisBlue1
{
    background-position: -646px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRedo_MetropolisBlue1
{
    background-position: -85px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRemoveFormat_MetropolisBlue1
{
    background-position: -595px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRight_MetropolisBlue1
{
    background-position: -306px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsDocx_MetropolisBlue1
{
    background-position: -714px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsMht_MetropolisBlue1
{
    background-position: -731px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsOdt_MetropolisBlue1
{
    background-position: -595px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsPdf_MetropolisBlue1
{
    background-position: -459px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsRtf_MetropolisBlue1
{
    background-position: -493px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsTxt_MetropolisBlue1
{
    background-position: -34px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellHorizontal_MetropolisBlue1
{
    background-position: -119px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellVertical_MetropolisBlue1
{
    background-position: -799px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heStrikethrough_MetropolisBlue1
{
    background-position: -204px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSubscript_MetropolisBlue1
{
    background-position: -731px -17px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSuperscript_MetropolisBlue1
{
    background-position: -51px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUnderline_MetropolisBlue1
{
    background-position: -442px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUndo_MetropolisBlue1
{
    background-position: -578px -34px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUnlink_MetropolisBlue1
{
    background-position: -765px -34px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsMiddleOff_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsBottom_MetropolisBlue1,
.dxHtmlEditor_heConstrainProportionsTop_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_MetropolisBlue1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_MetropolisBlue1,
.dxHtmlEditor_Icons_heForeColor_MetropolisBlue1,
.dxHtmlEditor_Icons_heBackColor_MetropolisBlue1
{
	display:block;
}
