<div class="comment-panel">
    <table class="table table-striped">
        <tr ng-repeat="comment in commentsModel">
            <i class="fa fa-exclamation-circle note_img"></i>
            <span>{{comment.comment}}</span>
        </tr>
    </table>
    <button popover-template="'myPopoverTemplate_html'" popover-placement="right" title="Add Notes" type="button" class="btn btn-default">test</button>
    <script type="text/ng-template" id="myPopoverTemplate_html">
        <div class='form-inline form-group' style="width: 450px">
            <input type='text' class='form-control' ng-model='inputText' />
            <button class='btn btn-sm btn-primary' ng-click='debugger;$parent.addComment()'>Add</button>
            <button class='btn btn-sm btn-danger' ng-click='debugger;'>Close</button>
        </div>
    </script>
</div>