<div class="comment-panel">
    <table class="table table-striped">
        <tr ng-repeat="comment in commentsModel">
            <i class="fa fa-exclamation-circle note_img"></i>
            <span>{{comment.comment}}</span>
        </tr>
    </table>
    
    <script type="text/ng-template" id="myPopoverTemplate_html">
        <div id="myPopoverTemplate_html" class="form-inline form-group" style="width: 450px">
            <input type="text" class="form-control" ng-model="inputText" />
            <button class="btn btn-sm btn-primary" ng-click="addComment()">Add</button>
            <button class="btn btn-sm btn-danger" ng-click="debugger;">Close</button>
        </div>
    </script>
</div>