<div id="{{fileId}}_div">
    <div class="text-right" style="margin: 2px">
        <table class="table table-condensed">
            <tr ng-show="fileModel.length>0">
                <th>files</th>
                <th>Upload Time</th>
                <th></th>
            </tr>
            <tr class="text-left" ng-repeat="file in fileModel">
                <td><a style="font-size:12px;font-weight:bold" ng-href="{{ptFileService.makePreviewUrl(file.path)}}" target="_blank">{{ptFileService.getFileName(file.path)}}</a></td>
                <td>{{file.uploadTime | date:'MM/dd/yyyy'}}</td>
                <td><i class="fa fa-remove icon_btn text-danger" ng-click="ptCom.arrayRemove(fileModel, $index, true)"></i></td>
            </tr>
        </table>
    </div>
    <div class="drop-area row" style="margin: 2px; border: 1px #c8c8c8 dashed">
        <div class="col-sm-1 text-left" style="padding: 1px">
            <span class="btn btn-default btn-file" ng-click="uploadFile()" ng-disabled="files.length<1">
                <span class="text-primary"><i class="fa fa-upload"></i></span>
            </span>
        </div>
        <div class="col-sm-9">
            <ul style="list-style-type: none; height: 100%; padding: 1px; margin:2px">
                <li ng-repeat="file in files" style="display: inline;max-width: 100px; line-height: 2.4">
                    <span class="btn-sm btn-danger" ng-click="removeChoosed($index)" style="max-width: 90px">{{file.name}}&nbsp;<i class="fa fa-remove"></i></span>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 text-right" style="padding: 1px">
            <span class="btn btn-default btn-file">
                <span class="text-success ">Add Files</span><input multiple="multiple" type="file" id="{{fileId}}" />
            </span>
        </div>
    </div>
    <div id="{{fileId}}_loadPanel" dx-load-panel="{message:'uploading..', showIndicator: true,  position:{of: '#{{fileId}}_div'}, bindingOptions:{ visible: 'loading' }}">
    </div>
</div>
