<div id="{{fileId}}_div">
    <div class="pt-files">
        <div class="pt-files-header" ng-show="folderEnable">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle pt-files-drop-button" data-toggle="dropdown"><i class="fa fa-folder-open" />&nbsp;{{currentFolder?currentFolder:'FOLDERS'}}</a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="changeFolder('')"><i class="fa fa-folder" />&nbsp;/</a>
                    </li>
                    <li ng-repeat="folder in folders">
                        <a ng-click="changeFolder(folder)"><i class="fa fa-folder" />&nbsp;{{folder}}</a>
                    </li>
                    <li>
                        <a class="text-success" ng-click="toggleNewFilePop()"><i class="fa fa-plus" />&nbsp;ADD NEW FOLDER</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-class="folderEnable?'ss_border':''">
            <table class="table table-condensed">
                <tr ng-show="fileModel.length>0">
                    <th>files</th>
                    <th ng-repeat="col in columns">{{col}}</th>
                    <th>Upload Time</th>
                    <th></th>
                </tr>
                <tr class="text-left" ng-repeat="file in fileModel|filter: {folder: currentFolder} ">
                    <td><a style="font-size:12px;font-weight:bold" ng-href="{{ptFileService.makePreviewUrl(file.path)}}" target="_blank">{{file.name?file.name:ptFileService.getFileName(file.path)}}</a></td>
                    <td ng-repeat="col in columns"><input class="form-control" type="text" ng-model="file[col]" /></td>
                    <td>{{file.uploadTime | date:'MM/dd/yyyy'}}</td>
                    <td><i class="fa fa-remove icon_btn text-danger" ng-click="ptCom.arrayRemove(fileModel, $index, true)"></i></td>
                </tr>
            </table>
            <div class="drop-area row" style="margin: 2px; border: 1px #c8c8c8 dashed">
                <div class="col-sm-1 text-left" style="padding: 1px">
                    <span class="btn btn-default btn-file" ng-click="uploadFile()" ng-disabled="files.length<1">
                        <span class="text-primary"><i class="fa fa-upload"></i></span>
                    </span>
                </div>
                <div class="col-sm-9">
                    <ul style="list-style-type: none; height: 100%; padding: 1px; margin:2px">
                        <li ng-repeat="file in files" style="display: inline;max-width: 100px; line-height: 2.4">
                            <span class="btn-sm btn-danger" ng-click="removeChoosed($index)" style="max-width: 90px">{{file.name}}&nbsp;<i class="fa fa-remove"></i></span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 text-right" style="padding: 1px">
                    <span class="btn btn-default btn-file">
                        <span class="text-success ">Add Files</span><input multiple="multiple" type="file" id="{{fileId}}" />
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="{{fileId}}_loadPanel" dx-load-panel="{message:'uploading..', showIndicator: true,  position:{of: '#{{fileId}}_div'}, bindingOptions:{ visible: 'loading' }}">
    </div>

    <div dx-popup="{
                                height: 200,
                                width: 600,
                                showTitle: false,
                                dragEnabled: true,
                                shading: true,
                                bindingOptions:{ visible: 'NewFolderPop' },
                            }">
        <div data-options="dxTemplate:{ name: 'content' }">
            <h5>FolderName</h5>
            <input ng-model="NewFolderName"/>
            <hr>
            <div class="pull-right">
                <button class="btn btn-danger" ng-click="toggleNewFilePop()">Cancel</button>
                <button class="btn btn-success" ng-click="newFolderPopSave()">Save</button>
            </div>
        </div>
    </div>

</div>
