<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="RonEntities" connectionString="metadata=res://*/OfficePCRon.csdl|res://*/OfficePCRon.ssdl|res://*/OfficePCRon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER,4436;initial catalog=Ron;persist security info=True;user id=George;password=Tiger123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataColectionEntities" connectionString="metadata=res://*/OfficePC.csdl|res://*/OfficePC.ssdl|res://*/OfficePC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER,4436;initial catalog=DataColection;persist security info=True;user id=George;password=Tiger123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetPortalEntities" connectionString="metadata=res://*/Portal.csdl|res://*/Portal.ssdl|res://*/Portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;persist security info=True;user id=Chris;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RonEntities1" connectionString="metadata=res://*/Code.Model1.csdl|res://*/Code.Model1.ssdl|res://*/Code.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER,4436;initial catalog=Ron;persist security info=True;user id=George;password=Tiger123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>