<div>
    <div style="margin: 2px" ng-show="fileModel">
        <a style="font-size:16px; cursor:pointer;" ng-click="ptFileService.onFilePreview(fileModel.path)" target="_blank" uib-tooltip="{{fileModel.uploadTime|date}}">{{fileModel.name?ptFileService.trunc(fileModel.name,20):''}}</a>&nbsp;
        <i class="fa fa fa-pencil icon_btn text-danger tooltip-examples" title="Modify file name" ng-click="modifyName(fileModel)"></i>
        <i class="fa fa-remove icon_btn text-danger tooltip-examples" title="Delete" ng-click="delFile()"></i>
    </div>
    <div style="margin: 2px" ng-show="!fileModel">
        <div>
            <span class="btn btn-default btn-file" style="max-width:160px">
                <span dx-load-indicator="{ height: '14px', width:'14px', bindingOptions: { visible: 'loading' }}"></span>
                {{File?File.name:'Choose File'}}
                <input type="file" id="{{fileId}}" />
            </span>
            <span ng-show="fileChoosed">
                <i class="fa fa-times icon_btn text-danger tooltip-examples" ng-click="delChoosed()" title="Delete" style="font-size: 18px;"></i>&nbsp;
                <i class="fa fa-upload icon_btn text-primary tooltip-examples" ng-click="uploadFile()" title="upload" style="font-size: 18px;"></i>
            </span>
        </div>
    </div>

    <div dx-popup="{
        height: 200,
        width: 600,
        showTitle: false,
        dragEnabled: true,
        shading: true,
        bindingOptions:{ visible: 'ModifyNamePop' },
        }">
        <div data-options="dxTemplate:{ name: 'content' }">
            <h5>Modify File Name </h5>
            <input class="form-control" ng-model="NewFileName" />
            <hr>
            <div class="pull-right">
                <button class="btn btn-danger" ng-click="onModifyNamePopClose()">Cancel</button>
                <button class="btn btn-success" ng-click="onModifyNamePopSave()">Save</button>
            </div>
        </div>
    </div>

</div>