#content-container {
    border-left: 0;
    border-right: 200px solid transparent;
}

#qb-ui {
    margin-left: 0;
    margin-right: -200px;
}

#qb-ui-tree {
    float: right;
}

#center {
    margin-left: 0;
    margin-right: 200px;
}

#qb-ui-editor-statusbar-message {
    float: right;
}

#qb-ui-editor-statusbar-controls {
    float: left;
}