<%@ Master Language="VB" MasterPageFile="~/Content.Master" AutoEventWireup="false" CodeBehind="Angular.master.vb" Inherits="IntranetPortal.Angular" %>

<asp:Content ID="head" ContentPlaceHolderID="head" runat="server">

</asp:Content>

<asp:Content ContentPlaceHolderID="MainContentPH" runat="server">
    <asp:ContentPlaceHolder ID="angularContentPH" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>

