<%@ Master Language="VB" MasterPageFile="~/Root.Master" AutoEventWireup="true" CodeBehind="Main.master.vb" Inherits="IntranetPortal.Main" %>

<asp:Content ID="navContent" ContentPlaceHolderID="NavContentHolder" runat="server" >
  <asp:ContentPlaceHolder ID="Left" runat="server" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Content" runat="server">
    <asp:ContentPlaceHolder ID="Content" runat="server" />
</asp:Content>
