<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes"
        type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
      <section name="compression"
        type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
      <section name="settings"
        type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
      <section name="errors"
        type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--local environment-->
    <!--<add name="Entities" connectionString="metadata=res://*/DataModel.PortalEntityModel.csdl|res://*/DataModel.PortalEntityModel.ssdl|res://*/DataModel.PortalEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;User ID=Steven;Password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ShortSaleEntities" connectionString="metadata=res://*/ADOEntity.ShortSale.csdl|res://*/ADOEntity.ShortSale.ssdl|res://*/ADOEntity.ShortSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CoreEntities" connectionString="metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <add name="MapDataEntitiesContainer" connectionString="metadata=res://*/ADOEntity.MapDataEntities.csdl|res://*/ADOEntity.MapDataEntities.ssdl|res://*/ADOEntity.MapDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=MapData;user id=Steven;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <add name="DataModelContainer" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=WFServerLog;user id=Steven;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="Entities"
      connectionString="metadata=res://*/DataModel.PortalEntityModel.csdl|res://*/DataModel.PortalEntityModel.ssdl|res://*/DataModel.PortalEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="ShortSaleEntities"
      connectionString="metadata=res://*/ADOEntity.ShortSale.csdl|res://*/ADOEntity.ShortSale.ssdl|res://*/ADOEntity.ShortSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="CoreEntities"
      connectionString="metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="MapDataEntitiesContainer"
      connectionString="metadata=res://*/ADOEntity.MapDataEntities.csdl|res://*/ADOEntity.MapDataEntities.ssdl|res://*/ADOEntity.MapDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=MapData;user id=Chris;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="DataModelContainer"
      connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=WFServerLog;User ID=Chris;Password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="LegalModelContainer"
      connectionString="metadata=res://*/DataModel.LegalModel.csdl|res://*/DataModel.LegalModel.ssdl|res://*/DataModel.LegalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;user id=Chris;password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="PublicSiteEntities"
      connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC;initial catalog=PublicSite;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="OdataPortalEntities"
      connectionString="metadata=res://*/DataModel.OdataEntity.csdl|res://*/DataModel.OdataEntity.ssdl|res://*/DataModel.OdataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;persist security info=True;user id=chris;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultPassword" value="123456"/>
    <add key="BingMapKey" value="AsNeWrqROYNx6pvOnd-zpRxBPYK7kPWMcjABD1wLjSHAHMyrvFzuyItfd3AcOI85"/>
    <add key="ImpersonationUsers" value="123"/>
    <add key="QueensRole" value="QueensOfficeAdmin"/>
    <add key="BrooklynRole" value="BrooklynOfficeAdmin"/>
    <add key="BronxRole" value="BronxOfficeAdmin"/>
    <add key="Office365UserName" value="ron@MyIdealPropertyInc.onmicrosoft.com"/>
    <add key="Office365Password" value="Unlock12"/>
    <add key="Office365ServerUrl" value="https://myidealpropertyinc.sharepoint.com"/>
    <add key="ShortSaleIntake" value="123"/>
    <add key="WorkflowServer" value="chrispc"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="PORTAL@myidealprop.com">
        <network host="smtp.myidealprop.com" password="P@ssw0rd" userName="PORTAL@myidealprop.com" enableSsl="false" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Data.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxThemes.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Utils.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Office.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.SpellChecker.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Charts.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v14.1.Presets, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxGauges.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v14.1.Web, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v14.1.Web, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraPivotGrid.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraScheduler.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxScheduler.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership defaultProvider="PortalMembershipProvider">
      <providers>
        <clear/>
        <add name="PortalMembershipProvider" type="IntranetPortal.PortalMembershipProvider" connectionStringName="ApplicationServices"
          enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager defaultProvider="PortalRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/"
      cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add name="PortalRoleProvider" type="IntranetPortal.PortalRoleProvider" connectionStringName="ApplicationServices" applicationName="IntranetPortal"
          writeExceptionsToEventLog="false"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        verb="GET,POST" path="DX.ashx" validate="false"/>
      <add verb="GET,POST" path="MessagerAsyncHandler.ashx" type="IntranetPortal.Messager.MessagerAsyncHandler" validate="false"/>
      <add verb="GET,POST" path="MessagerHandler.ashx" type="IntranetPortal.Messager.MessagerHandler" validate="false"/>
      <add verb="GET,POST" path="WhileImAwayMessagerHandler.ashx" type="IntranetPortal.Messager.WhileImAwayMessagerHandler" validate="false"/>
      <add verb="GET,POST" path="RefreshLeadsCountHandler.ashx" type="IntranetPortal.RefreshLeadsCountHandler" validate="false"/>
      <add path="handlers/exchange.axd" verb="*"
        type="ActiveDatabaseSoftware.ActiveQueryBuilder.Web.Server.Handlers.Exchange, ActiveDatabaseSoftware.ActiveQueryBuilder2.Web.Server"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        name="ASPxHttpHandlerModule"/>
      <add name="ActiveQueryBuilderHttpModule"
        type="ActiveDatabaseSoftware.ActiveQueryBuilder.Web.Server.HttpModule, ActiveDatabaseSoftware.ActiveQueryBuilder2.Web.Server"/>
    </httpModules>
    <globalization culture="" uiCulture=""/>
    <httpRuntime maxRequestLength="6144" requestValidationMode="2.0" executionTimeout="110" targetFramework="4.5"/>
    <pages validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallback"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCallbackPanel"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxClasses"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxCloudControl"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxDataView"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxDocking"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxEditors"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxFileManager"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxFormLayout"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGlobalEvents"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridLookup"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGridView.Export"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHeadline"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHiddenField"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxImageGallery"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxImageSlider"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxLoadingPanel"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxMenu"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxNavBar"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxNewsControl"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxObjectContainer"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPager"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPanel"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPopupControl"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxProgressBar"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRatingControl"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxResourceManagers"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRoundPanel"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSiteMapControl"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSplitter"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTabControl"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTimer"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTitleIndex"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeView"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxUploadControl"
          assembly="DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor"
          assembly="DevExpress.Web.ASPxHtmlEditor.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpellChecker"
          assembly="DevExpress.Web.ASPxSpellChecker.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList"
          assembly="DevExpress.Web.ASPxTreeList.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList.Export"
          assembly="DevExpress.Web.ASPxTreeList.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid"
          assembly="DevExpress.Web.ASPxPivotGrid.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid.Export"
          assembly="DevExpress.Web.ASPxPivotGrid.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.XtraCharts"
          assembly="DevExpress.XtraCharts.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges"
          assembly="DevExpress.Web.ASPxGauges.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges"
          assembly="DevExpress.Web.ASPxGauges.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.Linear"
          assembly="DevExpress.Web.ASPxGauges.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.Circular"
          assembly="DevExpress.Web.ASPxGauges.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.State"
          assembly="DevExpress.Web.ASPxGauges.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxGauges.Gauges.Digital"
          assembly="DevExpress.Web.ASPxGauges.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.XtraCharts.Web"
          assembly="DevExpress.XtraCharts.v14.1.Web, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.XtraScheduler"
          assembly="DevExpress.XtraScheduler.v14.1.Core, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler"
          assembly="DevExpress.Web.ASPxScheduler.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler.Controls"
          assembly="DevExpress.Web.ASPxScheduler.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxScheduler.Reporting"
          assembly="DevExpress.Web.ASPxScheduler.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource"/>
      </controls>
    </pages>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="test.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization>
          <converters>
            <add name="DateTimeJavaScriptConverter" type="IntranetPortal.DateTimeJavaScriptConverter"/>
          </converters>
        </jsonSerialization>
      </webServices>
      <scriptResourceHandler enableCompression="false" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        name="ASPxHttpHandlerModule"/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="managedHandler"/>
      <add name="ActiveQueryBuilderHttpModule"
        type="ActiveDatabaseSoftware.ActiveQueryBuilder.Web.Server.HttpModule, ActiveDatabaseSoftware.ActiveQueryBuilder2.Web.Server"/>
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add verb="GET,POST" path="MessagerAsyncHandler.ashx" type="IntranetPortal.Messager.MessagerAsyncHandler" name="MsgAsyncHandler"
        preCondition="integratedMode"/>
      <add verb="GET,POST" path="MessagerHandler.ashx" type="IntranetPortal.Messager.MessagerHandler" name="msgHandler" preCondition="integratedMode"/>
      <add verb="GET,POST" path="WhileImAwayMessagerHandler.ashx" type="IntranetPortal.Messager.WhileImAwayMessagerHandler" name="awayMsgHandler"
        preCondition="integratedMode"/>
      <add verb="GET,POST" path="RefreshLeadsCountHandler.ashx" type="IntranetPortal.RefreshLeadsCountHandler" name="RefreshCountHandler"
        preCondition="integratedMode"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="handlers/exchange.axd_*" preCondition="integratedMode" path="handlers/exchange.axd" verb="*"
        type="ActiveDatabaseSoftware.ActiveQueryBuilder.Web.Server.Handlers.Exchange, ActiveDatabaseSoftware.ActiveQueryBuilder2.Web.Server"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <devExpress>
    <!--add a themes only this few line by steven-->
    <themes theme="MetropolisBlue1" enableThemesAssembly="true" styleSheetTheme="" customThemeAssemblies="PortalTheme2"/>
    <!--<themes enableThemesAssembly="true" styleSheetTheme="" theme="MetropolisBlue" customThemeAssemblies=""/>-->
    <!--#######end#######-->
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="PortalReportServiceBehavior" name="IntranetPortal.PortalReportService">
        <endpoint address="" behaviorConfiguration="PortalReportServiceBehavior" binding="webHttpBinding" contract="IntranetPortal.IPortalReportService"/>
      </service>
      <service behaviorConfiguration="PortalReportServiceBehavior" name="IntranetPortal.MapDataService">
        <endpoint address="" behaviorConfiguration="PortalReportServiceBehavior" binding="webHttpBinding" contract="IntranetPortal.IMapDataService"/>
      </service>
      <service behaviorConfiguration="PortalReportServiceBehavior" name="IntranetPortal.DialerService">
        <endpoint address="" behaviorConfiguration="PortalReportServiceBehavior" binding="webHttpBinding" contract="IntranetPortal.IDialerService"/>
      </service>
      <service name="IntranetPortal.DialerAjaxService">
        <endpoint address="" behaviorConfiguration="IntranetPortal.DialerAjaxServiceAspNetAjaxBehavior" binding="webHttpBinding"
          contract="IntranetPortal.DialerAjaxService"/>
      </service>
      <service name="IntranetPortal.ContactService">
        <endpoint address="" behaviorConfiguration="IntranetPortal.ContactServiceAspNetAjaxBehavior" binding="webHttpBinding"
          contract="IntranetPortal.ContactService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PortalReportServiceBehavior">
          <webHttp/>
        </behavior>
        <behavior name="IntranetPortal.DialerAjaxServiceAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
        <behavior name="IntranetPortal.ContactServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="PortalReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="WCFMacros_Http" openTimeout="00:01:30" sendTimeout="00:01:30" maxReceivedMessageSize="10000000"/>
        <binding name="BasicHttpBinding_ICallTrackingService" maxReceivedMessageSize="10000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://office:8002/" binding="basicHttpBinding" bindingConfiguration="WCFMacros_Http" contract="DataAPI.IWCFMacros"
        name="WCFMacros_Http"/>
      <endpoint address="http://ChrisPC:8733/CallTrackingService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICallTrackingService"
        contract="CallTrackingService.ICallTrackingService" name="BasicHttpBinding_ICallTrackingService"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>