
<div class="container" style="width: 90%; margin-top: 20px">
    <div class="row">
        <div id="data_input_area" class="col-md-9 col-lg-9" style="border: 1px dotted black">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="panel panel-default" style="margin-top: 10px">
                        <div class="panel-heading">
                            <h5 class="panel-title">Property Info</h5>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td class="td-label">
                                        Property Address:
                                    </td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Tax Class:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Building Dimension:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Lot Size:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Zoning:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Actual # of Units:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Property Tax (Year):
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Occupancy Status:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Seller Occupied:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        # of Tenants:
                                    </td>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default" style="margin-top: 10px">
                        <div class="panel-heading">
                            <h5 class="panel-title">Deal Costs</h5>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td class="td-label">
                                        Money Spent:

                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        HOI:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        COS Termination:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Agent Commission:
                                    </td>
                                    <td></td>
                                </tr>


                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default" style="margin-top: 10px">
                        <div class="panel-heading">
                            <h5 class="panel-title">Rehab Info</h5>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td class="td-label">
                                        Average Low Value:

                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Renovated Value:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Repair Bid:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Deal Time (Months):
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Sales Commission:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Deal ROI (Cash):
                                    </td>
                                    <td></td>
                                </tr>


                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default" style="margin-top: 10px">
                        <div class="panel-heading">
                            <h5 class="panel-title">Rental Info</h5>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td class="td-label">
                                        Deed Purchase:

                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Currently Rented:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Repair Bid Total:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        # of Units
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Market Rent Total:
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Rental Time:
                                    </td>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-lg-3 col-lg-offset-1 col-md-offset-1">
                </div>
                <div class="col-md-3 col-lg-3 col-lg-offset-1 col-md-offset-1">
                </div>
            </div>
        </div>

        <div id="calc_summary affix" class="col-md-2 col-lg-2 col-lg-offset-1 col-md-offset-1" style="border: 1px dotted black; height: 800px;">
            <div class="panel panel-default" style="margin-top: 10px">

                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="td-label">
                                Maximum Lien Payoff
                            </td>
                            <td><input /></td>
                        </tr>
                        <tr>
                            <td class="td-label">
                                Maximum SS Price
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h5 class="panel-title">MINIMUM BASELINE SCENARIO</h5>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="td-label">Purchase Price (All In)</td>
                            <td><input /></td>
                        </tr>
                        <tr>
                            <td class="td-label">Total Investment</td>
                        </tr>
                        <tr>
                            <td class="td-label">Cash Requirement</td>
                        </tr>
                        <tr>
                            <td class="td-label">Net Profit</td>
                        </tr>
                        <tr>
                            <td class="td-label">ROI (Loan)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h5 class="panel-title">BEST CASE SCENARIO</h5>
                </div>
                <div class="panel-body">
                    <table>
                        <tr class="success">
                            <td class="td-label">Purchase Price (All In)</td>
                            <td><input /></td>
                        </tr>
                        <tr class="success">
                            <td class="td-label">Total Investment</td>
                        </tr>
                        <tr class="success">
                            <td class="td-label">Cash Requirement</td>
                        </tr>
                        <tr class="success">
                            <td class="td-label">Net Profit</td>
                        </tr>
                        <tr class="success">
                            <td class="td-label">ROI (Loan)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h5 class="panel-title">RENTAL BRAEKDOWN</h5>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="td-label">Purchase Price (All In)</td>
                        </tr>
                        <tr>
                            <td class="td-label">Total Investment</td>
                        </tr>
                        <tr>
                            <td class="td-label">Cash Requirement</td>
                        </tr>
                        <tr>
                            <td class="td-label">Net Profit</td>
                        </tr>
                        <tr>
                            <td class="td-label">ROI (Loan)</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">
                    <table>
                        <tr>
                            <td class="td-label">MAX HOI</td>
                        </tr>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-primary" style="position: absolute; bottom: 10px; width: 50%; float: none; margin: 0 auto !important">calculate</button>
        </div>
    </div>
</div>