<div class="container" style="width: 80%; margin-top: 20px">
    <div class="row">
        <div id="data_input_area" class="col-md-9 col-lg-9">
            <div class="row">

                <div class="col-md-4 col-lg-4">
                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default">Property Info</th>
                                <th class="td-value excel-default">
                                    <span ng-bind='data.PropertyInfo.Info'></span>
                                </th>
                            </tr>

                            <tr>
                                <td class="td-label" colspan="2">
                                    Property Address:
                                </td>

                            </tr>

                            <tr>
                                <td class="td-value" colspan="2">
                                    <input ng-change='update()' ng-model="data.PropertyInfo.PropertyAddress" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Tax Class:
                                </td>
                                <td class="td-value">
                                    <input ng-change='update()' ng-model='data.PropertyInfo.TaxClass' />
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Building Dimension:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.PropertyInfo.BuildingDimension' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Lot Size:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.PropertyInfo.LotSize' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Zoning:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.PropertyInfo.Zoning' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Actual # of Units:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.PropertyInfo.ActualNumOfUnits' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Property Tax (Year):
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.PropertyInfo.PropertyTaxYear' money-mask /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Occupancy Status:
                                </td>
                                <td class="td-value">


                                    <select style="width: 100%" ng-change='update()' ng-model='data.PropertyInfo.OccupancyStatus'>
                                        <option>Unkown</option>
                                        <option>Vacant</option>
                                        <option>Seller</option>
                                        <option>Seller + Tenant</option>
                                        <option>Tenant</option>
                                        <option>Multiple Tenants</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Seller Occupied:
                                </td>
                                <td class="td-value">
                                    <select ng-change='update()' ng-model='data.PropertyInfo.SellerOccupied' ng-options="o.v as o.l for o in [{ l: 'No', v: false }, { l: 'Yes', v: true }]"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    # of Tenants:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.PropertyInfo.NumOfTenants' /></td>
                            </tr>

                        </table>
                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="2">Deal Costs</th>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Money Spent:

                                </td>
                                <td class="td-value">
                                    <input ng-change='update()' ng-model='data.DealCosts.MoneySpent' money-mask />
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    HOI:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.DealCosts.HOI' money-mask /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    COS Termination:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.DealCosts.COSTermination' money-mask /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Agent Commission:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.DealCosts.AgentCommission' money-mask /></td>
                            </tr>


                        </table>

                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="2">Rehab Info</th>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Average Low Value:

                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RehabInfo.AverageLowValue' money-mask /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Renovated Value:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RehabInfo.RenovatedValue' money-mask /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Repair Bid:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RehabInfo.RepairBid' money-mask /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Deal Time (Months):
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RehabInfo.DealTimeMonths' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Sales Commission:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RehabInfo.SalesCommission' percent-mask /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Deal ROI (Cash):
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RehabInfo.DealROICash' percent-mask /></td>
                            </tr>


                        </table>

                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="2">Rental Info</th>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Deed Purchase:

                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RentalInfo.DeedPurchase' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Currently Rented:
                                </td>
                                <td class="td-value">
                                    <select ng-change='update()' ng-model='data.RentalInfo.CurrentlyRented' ng-options="o.v as o.l for o in [{ l: 'No', v: false }, { l: 'Yes', v: true }]"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Repair Bid Total:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RentalInfo.RepairBidTotal' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    # of Units
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RentalInfo.NumOfUnits' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Market Rent Total:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RentalInfo.MarketRentTotal' /></td>
                            </tr>
                            <tr>
                                <td class="td-label">
                                    Rental Time:
                                </td>
                                <td class="td-value"><input ng-change='update()' ng-model='data.RentalInfo.RentalTime' /></td>
                            </tr>

                        </table>

                    </div>

                </div>

                <div class="col-md-8 col-lg-8">

                    <div class="row">
                        <div class="col-md-6 col-lg-6">

                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-default" colspan="2">Lien Info</th>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            1st Mortgage:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.FirstMortgage' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            2nd Mortgage:


                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.SecondMortgage' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            COS Recorded:
                                        </td>
                                        <td class="td-value">
                                            <select ng-change='update()' ng-model='data.LienInfo.COSRecorded' ng-options="o.v as o.l for o in [{ l: 'No', v: false }, { l: 'Yes', v: true }]"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Deed Recorded:
                                        </td>
                                        <td class="td-value">
                                            <select ng-change='update()' ng-model='data.LienInfo.DeedRecorded' ng-options="o.v as o.l for o in [{ l: 'No', v: false }, { l: 'Yes', v: true }]"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Other Liens:

                                        </td>
                                        <td class="td-value">
                                            <select style="width: 100%" ng-model='data.LienInfo.OtherLiens'>
                                                <option>No</option>
                                                <option>Court Order</option>
                                                <option>Mechanics Lien</option>
                                                <option>Specific Performance</option>
                                                <option>Specific Sundry Agreement</option>
                                                <option>Specific UCC</option>
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            FHA:

                                        </td>
                                        <td class="td-value">
                                            <select ng-change='update()' ng-model='data.LienInfo.FHA' ng-options="o.v as o.l for o in [{ l: 'No', v: false }, { l: 'Yes', v: true }]"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Fannie Mae:

                                        </td>
                                        <td class="td-value">
                                            <select ng-change='update()' ng-model='data.LienInfo.FannieMae' ng-options="o.v as o.l for o in [{ l: 'No', v: false }, { l: 'Yes', v: true }]"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Freddie Mac:

                                        </td>
                                        <td class="td-value">
                                            <select ng-change='update()' ng-model='data.LienInfo.FreddieMac' ng-options="o.v as o.l for o in [{ l: 'No', v: false }, { l: 'Yes', v: true }]"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Servicer:
                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.Servicer' /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Foreclosure Index #:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.ForeclosureIndexNum' /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Foreclosure Status:

                                        </td>
                                        <td class="td-value">
                                            <select style="width: 100%" ng-model='data.LienInfo.ForeclosureStatus'>
                                                <option>Not Sure</option>
                                                <option>No Action / Dismissed</option>
                                                <option>Summons & Complaint</option>
                                                <option>Settlement Conference</option>
                                                <option>RJI</option>
                                                <option>Order of Reference</option>
                                                <option>Judgment of Foreclosure and Sale</option>
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Foreclosure Note:

                                        </td>
                                        <td class="td-value">
                                            <input ng-change='update()' ng-model='data.LienInfo.ForeclosureNote' />


                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Auction Date:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.AuctionDate' /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Default Date:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.DefaultDate' /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Current Payoff:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.CurrentPayoff' /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Payoff Date:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.PayoffDate' /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Current SS Value:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienInfo.CurrentSSValue' /></td>
                                    </tr>

                                </table>

                            </div>

                        </div>


                        <div class="col-md-6 col-lg-6 ">

                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-default" colspan="2">Lien Costs</th>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Tax Lien Certificate:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.TaxLienCertificate' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Property Taxes:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.PropertyTaxes' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Water Charges:


                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.WaterCharges' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            HPD Charges:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.HPDCharges' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            ECB/DOB Violations:
                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.ECBDOBViolations' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            DOB Civil Penalty

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.DOBCivilPenalty' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Personal Judgements:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.PersonalJudgements' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            HPD Judgements:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.HPDJudgements' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            IRS/NYS Tax Liens:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.IRSNYSTaxLiens' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Vacate Order:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.VacateOrder' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Relocation Lien:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.RelocationLien' money-mask /></td>
                                    </tr>
                                    <tr>
                                        <td class="td-label">
                                            Relocation Lien Date:

                                        </td>
                                        <td class="td-value"><input ng-change='update()' ng-model='data.LienCosts.RelocationLienDate' /></td>
                                    </tr>

                                </table>

                            </div>

                        </div>

                        <div class="col-lg-12 col-md-12">

                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-default">Notes</th>
                                    </tr>
                                    <tr>
                                        <td class="td-value">
                                            <div><textarea ng-model="data.Notes"></textarea></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>





                </div>

            </div>
        </div>
        <div id="calc_summary affix" class="col-md-3 col-lg-3">
            <div class="pt-panel">
                <table>
                    <tr>
                        <td class="td-label">
                            Maximum Lien Payoff
                        </td>
                        <td class="td-value">
                            {{data.Others.MaximumLienPayoff}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">
                            Maximum SS Price
                        </td>
                        <td class="td-value">
                            {{data.Others.MaximumSSPrice}}
                        </td>
                    </tr>
                </table>

            </div>

            <div class="pt-panel">
                <table>
                    <tr>
                        <th class="td-label excel-yellow" colspan="2">MINIMUM BASELINE SCENARIO</th>
                    </tr>
                    <tr>
                        <td class="td-label">Purchase Price (All In)</td>
                        <td class="td-value">
                            {{data.MinimumBaselineScenario.PurchasePriceAllIn}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Total Investment</td>
                        <td class="td-value">
                            {{data.MinimumBaselineScenario.TotalInvestment}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Cash Requirement</td>
                        <td class="td-value">
                            {{data.MinimumBaselineScenario.CashRequirement }}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Net Profit</td>
                        <td class="td-value">
                            {{data.MinimumBaselineScenario.NetProfit}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">ROI (Loan)</td>
                        <td class="td-value">
                            {{data.MinimumBaselineScenario.ROI}}
                        </td>
                    </tr>
                </table>

            </div>
            <div class="pt-panel">
                <table>
                    <tr>
                        <th class="td-label excel-green" colspan="2">BEST CASE SCENARIO</th>
                    </tr>

                    <tr class="success">
                        <td class="td-label">Purchase Price (All In)</td>
                        <td class="td-value">
                            {{data.BestCaseScenario.PurchasePriceAllIn}}
                        </td>
                    </tr>
                    <tr class="success">
                        <td class="td-label">Total Investment</td>
                        <td class="td-value">
                            {{data.BestCaseScenario.TotalInvestment}}
                        </td>
                    </tr>
                    <tr class="success">
                        <td class="td-label">Cash Requirement</td>
                        <td class="td-value">
                            {{data.BestCaseScenario.CashRequirement}}
                        </td>
                    </tr>
                    <tr class="success">
                        <td class="td-label">Net Profit</td>
                        <td class="td-value">
                            {{data.BestCaseScenario.NetProfit}}
                        </td>
                    </tr>
                    <tr class="success">
                        <td class="td-label">ROI (Loan)</td>
                        <td class="td-value">
                            {{data.BestCaseScenario.ROI}}
                        </td>
                    </tr>
                </table>

            </div>

            <div class="pt-panel">
                <table>
                    <tr>
                        <th class="td-label excel-orange" colspan="2">RENTAL BRAEKDOWN</th>
                    </tr>
                    <tr>
                        <td class="td-label">Upfront Cost</td>
                        <td class="td-value">
                            {{data.RentalModel.TotalUpfront}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Net Rent</td>
                        <td class="td-value">
                            {{data.RentalModel.NetMontlyRent}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Breakeven (Month)</td>
                        <td class="td-value">
                            {{data.RentalModel.Breakeven}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Target Time (Months)</td>
                        <td class="td-value">
                            {{data.RentalModel.TargetTime}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">Target Profit</td>
                        <td class="td-value">
                            {{data.RentalModel.TargetProfit}}
                        </td>
                    </tr>
                </table>

            </div>

            <div class="pt-panel">
                <table>
                    <tr>
                        <td class="td-label">MAX HOI</td>
                        <td class="td-value">
                            {{data.Others.MaxHOI}}
                        </td>
                    </tr>
                </table>

            </div>
            <hr />
            <div class="clearfix">
                <span class="btn btn-primary">calculate</span>
            </div>


        </div>
    </div>
</div>