
<div class="container" style="width: 90%; margin-top: 20px">
    <div class="row">
        <div id="data_input_area1" class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="panel panel-default" style="margin-top: 10px">

                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td class="td-label">
                                        Property Address:
                                    </td>
                                    <td class="td-value" colspan="3"><input /></td>

                                </tr>
                                <tr>
                                    <td class="td-label">
                                        # of Units:
                                    </td>
                                    <td class="td-value">
                                        <input />
                                    </td>
                                    <td class="td-label">
                                        Cost of Money :
                                    </td>
                                    <td class="td-value"> <input /></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Total Months:
                                    </td>
                                    <td class="td-value">
                                        <input />
                                    </td>
                                    <td class="td-label">
                                        Min ROI:
                                    </td>
                                    <td class="td-value"> <input /></td>
                                </tr>

                                <tr>
                                    <td colspan="2" class="td-label excel-oragne">
                                        Upfront Costs
                                    </td>
                                    <td colspan="2" class="td-label excel-oragne">
                                        Monthly Rent Breakdown
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Deed Purcahse
                                    </td>
                                    <td class="td-value"></td>
                                    <td class="td-label">
                                        Rent
                                    </td>
                                    <td class="td-value"></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Total Repairs
                                    </td>
                                    <td class="td-value"></td>
                                    <td class="td-label">
                                        Mgt Fee (10%)
                                    </td>
                                    <td class="td-value"></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Agent Commission
                                    </td>
                                    <td class="td-value"></td>
                                    <td class="td-label">
                                        Insurance
                                    </td>
                                    <td class="td-value"></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Total Upfront
                                    </td>
                                    <td class="td-value"></td>
                                    <td class="td-label">
                                        Maintenance
                                    </td>
                                    <td class="td-value"></td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Cost of Money
                                    </td>
                                    <td class="td-value"></td>
                                    <td class="td-label">
                                        Misc Repairs
                                    </td>
                                    <td class="td-value"></td>
                                </tr>

                                <tr>
                                    <td class="td-label">
                                        Total Investment
                                    </td>
                                    <td class="td-value"></td>
                                    <td class="td-label">
                                        Net Montly Rent
                                    </td>
                                    <td class="td-value"></td>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="panel panel-default" style="margin-top: 10px">

                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td class="td-label">
                                        Breakeven (Month)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-value">
                                        <input />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Target Time
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-value">
                                        <input />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Target Profit
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-value">
                                        <input />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        ROI (Year)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-value">
                                        <input />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        ROI (Total)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-value">
                                        <input />
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>


                </div>


            </div>



        </div>
    </div>
</div>