<style>
    tr.newsec {
        background-color: #295268;
        color: white;
        font-size: small;
        font-style: italic;
    }

    table.DocSearch.LeadResearch {
        color: black;
    }

        table.DocSearch.LeadResearch > tbody > tr > td {
            padding: 3px;
            border: none;
        }

    ul.DocSearch.LeadResearch {
        list-style: none;
        display: inline-table;
        text-decoration: underline;
    }
</style>

<div id="search_result" class="tab-pane fade in active" style="padding: 20px; max-height: 850px; overflow-y: scroll">
    <div class="alert alert-info" ng-show="underwritemode && DocSearch.UnderwriteStatus > 0">
        <h5>The Underwriting {{DocSearch.UnderwriteStatus==1?'Completed':'Rejected'}} by {{DocSearch.UnderwriteCompletedBy}} on {{DocSearch.UnderwriteCompletedOn | date:'MM/dd/yyyy'}}!</h5>
        <h5>
            <b>Comments:</b>
            {{DocSearch.UnderwriteCompletedNotes || "None"}}

        </h5>
    </div>

    <div>

        <div class="alert alert-warning" ng-show="DocSearch.UpdateDate">The last search updated on {{DocSearch.UpdateDate | date:'MM/dd/yyyy'}} by {{DocSearch.UpdateBy}}</div>
        <table class="table DocSearch.LeadResearch" ng-show="ShowInfo">
            <tr class="newsec">
                <td colspan="3"><b>Request Info</b></td>
            </tr>

            <tr>
                <td>
                    <label>Requested On: </label><span ng-bind="DocSearch.CreateDate| date:'yyyy-MM-dd'" />
                </td>
                <td>
                    <label>Team: </label>
                    <span ng-bind="DocSearch.team" />
                </td>
                <td>
                    <label>Requested By: </label><span ng-bind="DocSearch.CreateBy" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Block: </label><span ng-bind="LeadsInfo.Block" />
                </td>
                <td>
                    <label>Lot: </label><span ng-bind="LeadsInfo.Lot" />
                </td>
                <td>
                    <label>Expected Signing Date: </label><span ng-bind="DocSearch.ExpectedSigningDate | date:'yyyy-MM-dd' " />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Property Address: </label>
                    <span ng-bind="LeadsInfo.PropertyAddress" />
                </td>
            </tr>
            <tr>
                <td><label>Owner Name: </label><span ng-bind="DocSearch.ownerName" /></td>
                <td><label>Owner SSN: </label><span ng-bind="DocSearch.ownerSSN" /></td>
            </tr>
            <tr>
                <td>
                    <label>Owner Address:</label>
                    <span ng-bind="DocSearch.ownerAddress" />
                </td>
            </tr>
        </table>

        <table class="table DocSearch.LeadResearch">


            <tr class="newsec">
                <td colspan="3"><b>Ownership Mortgage Info</b></td>
            </tr>

            <tr>
                <td>
                    <label>Has Purchase Deed: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Deed_Purchase_Deed| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_Deed_Purchase_Deed">
                    <label>Date of Deed: </label>
                    <span ng-bind="DocSearch.LeadResearch.Date_of_Deed_Purchase_Deed| date:'MM/dd/yyyy' " />
                </td>
                <td>
                    <span ng-show="DocSearch.LeadResearch.Has_Deed_Purchase_Deed">
                        <label>Deed Party 1: </label>
                        <span ng-bind="DocSearch.LeadResearch.Party_1_Purchase_Deed" />
                    </span>&nbsp;&nbsp;
                    <span ng-show="DocSearch.LeadResearch.Has_Deed_Purchase_Deed">
                        <label>Deed Party 2: </label>
                        <span ng-bind="DocSearch.LeadResearch.Party_2_Purchase_Deed" />
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has 1st Mortgage: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_c_1st_Mortgage_c_1st_Mortgage| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_c_1st_Mortgage_c_1st_Mortgage">
                    <label>First Mortagage Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.mortgageAmount| currency" />
                </td>
                <td ng-show="DocSearch.LeadResearch.fha != undefined">
                    <label>FHA: </label>
                    <span ng-bind="DocSearch.LeadResearch.fha | booleanToString"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has 2nd Mortgage: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_c_2nd_Mortgage_c_2nd_Mortgage| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_c_2nd_Mortgage_c_2nd_Mortgage">
                    <label>Second Mortage Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.secondMortgageAmount | currency" />
                </td>
            </tr>

            <tr style="border: 1px dashed lightgray">
                <td>
                    <label style="display:inline-block">Has Other Mortgage: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Other_Mortgage| booleanToString " />
                </td>
                <td colspan="2" ng-show="DocSearch.LeadResearch.Has_Other_Mortgage && DocSearch.LeadResearch.OtherMortgage && DocSearch.LeadResearch.OtherMortgage.length>0">
                    <ul class="DocSearch.LeadResearch">
                        <li ng-repeat="o in DocSearch.LeadResearch.OtherMortgage ">{{$index + 1}}. <b>Amount:</b> {{o.Amount| currency}}</li>
                    </ul>
                </td>
            </tr>
            <tr style="border: 1px dashed lightgray">
                <td>
                    <label>Other Liens: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Other_Liens| booleanToString " />
                </td>
                <td colspan="2" ng-show="DocSearch.LeadResearch.Has_Other_Liens && DocSearch.LeadResearch.OtherLiens && DocSearch.LeadResearch.OtherLiens.length>0">
                    <ul class="DocSearch.LeadResearch">
                        <li ng-repeat="o in DocSearch.LeadResearch.OtherLiens">
                            {{$index + 1}}. <b>Lien:</b> {{o.Lien}} <span style="color:blue"><b>|</b></span>
                            <b>Amount:</b> {{o.Amount| currency}} <span style="color:blue"><b>|</b></span>
                            <b>Date:</b> {{o.Date}}
                        </li>
                    </ul>
                </td>
            </tr>

            <tr style="border: 1px dashed lightgray">
                <td>
                    <label>Has Tax Lien Certificate: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_TaxLiensCertifcate| booleanToString " />
                </td>
                <td colspan="2" ng-show="DocSearch.LeadResearch.Has_TaxLiensCertifcate && DocSearch.LeadResearch.TaxLienCertificate && DocSearch.LeadResearch.TaxLienCertificate.length>0">
                    <ul class="DocSearch.LeadResearch">
                        <li ng-repeat="o in DocSearch.LeadResearch.TaxLienCertificate">
                            {{$index + 1}}. <b>Year:</b> {{o.Year}} <span style="color:blue"><b>|</b></span>
                            <b>Amount:</b> {{o.Amount| currency}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="border: 1px dashed lightgray">
                <td>
                    <label>Has COS Recorded: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_COS_Recorded| booleanToString " />
                </td>
                <td colspan="2" ng-show="DocSearch.LeadResearch.Has_COS_Recorded && DocSearch.LeadResearch.COSRecorded && DocSearch.LeadResearch.COSRecorded.length>0">
                    <ul class="DocSearch.LeadResearch">
                        <li ng-repeat="o in DocSearch.LeadResearch.COSRecorded">
                            {{$index + 1}}. <b>Date:</b> {{o.Date}} <span style="color:blue"><b>|</b></span>
                            <b>Buyer:</b> {{o.Buyer}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="border: 1px dashed lightgray">
                <td>
                    <label>Has Deed Recorded: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Deed_Recorded| booleanToString " />
                </td>
                <td colspan="2" ng-show="DocSearch.LeadResearch.Has_Deed_Recorded && DocSearch.LeadResearch.DeedRecorded && DocSearch.LeadResearch.DeedRecorded.length>0">
                    <ul class="DocSearch.LeadResearch">
                        <li ng-repeat="o in DocSearch.LeadResearch.DeedRecorded">
                            {{$index + 1}}. <b>Date:</b> {{o.Date}} <span style="color:blue"><b>|</b></span>
                            <b>Buyer:</b> {{o.Buyer}}
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Has Last Assignment: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_Last_Assignment_Last_Assignment| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Last_Assignment_Last_Assignment">
                    <label>Assignment date: </label>
                    <span ng-bind="DocSearch.LeadResearch.Assignment_date_Last_Assignment | date:'yyyy-MM-dd'" />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Last_Assignment_Last_Assignment">
                    <label>Assigned To: </label>
                    <span ng-bind="DocSearch.LeadResearch.Assigned_To_Last_Assignment" />
                </td>
            </tr>
            <tr ng-show="DocSearch.LeadResearch.LP_Index___Num_LP_Index___Num || DocSearch.LeadResearch.notes_LP_Index___Num">
                <td>
                    <label>LP Index #: </label>
                    <span ng-bind="DocSearch.LeadResearch.LP_Index___Num_LP_Index___Num"></span>
                </td>
                <td colspan="2">
                    <label>Notes: </label>
                    <textarea class="form-control" ng-model="DocSearch.LeadResearch.notes_LP_Index___Num"></textarea>
                </td>
            </tr>
            <tr ng-show="DocSearch.LeadResearch.servicer || DocSearch.LeadResearch.Servicer_notes">
                <td>
                    <label>Servicer: </label>
                    <span ng-bind="DocSearch.LeadResearch.servicer" />
                </td>
                <td colspan="2">
                    <label>Servicer notes: </label>
                    <textarea class="form-control" ng-model="DocSearch.LeadResearch.Servicer_notes"></textarea>
                </td>
            </tr>
            <tr>
                <td ng-show="DocSearch.LeadResearch.fannie != undefined">
                    <label>Fannie: </label>
                    <span ng-bind="DocSearch.LeadResearch.fannie | booleanToString"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.Freddie_Mac_ != undefined">
                    <label>Freddie Mac: </label>
                    <span ng-bind="DocSearch.LeadResearch.Freddie_Mac_ | booleanToString"></span>
                </td>

            </tr>


            <tr class="newsec">
                <td colspan="3"><b>Property Dues Violations</b></td>
            </tr>

            <tr>
                <td>
                    <label>Has Property Taxes Due: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Due_Property_Taxes_Due| booleanToString " />
                </td>
                <td>
                    <label>Property Taxes per YR: </label>
                    <span ng-bind="DocSearch.LeadResearch.Property_Taxes_per_YR_Property_Taxes_Due| currency"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_Due_Property_Taxes_Due">
                    <label>Property Taxes Due Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.propertyTaxes| currency" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has Water Charges Due: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Due_Water_Charges_Due| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_Due_Water_Charges_Due">
                    <label>Water Charge Due Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.waterCharges| currency"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has Open ECB Violations: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Open_ECB_Violoations| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_Open_ECB_Violoations">
                    <label>ECB Violations Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_ECB_Violoations"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_Open_ECB_Violoations">
                    <label>ECB Violations Due Amount: </label>
                    <span pt-number-mask maskformat='money' ng-bind="DocSearch.LeadResearch.ecbViolation| currency"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has Open DOB Violations: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Open_DOB_Violoations| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_Open_DOB_Violoations">
                    <label>DOB Violations Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_DOB_Violoations"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.Has_Open_DOB_Violoations">
                    <label>DOB Violations Amount: </label>
                    <span pt-number-mask maskformat='money' ng-bind="DocSearch.LeadResearch.dobWebsites| currency"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has CO: </label>
                    <span ng-bind="DocSearch.LeadResearch.hasCO| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.hasCO">
                    <label># of Units: </label>
                    <span ng-bind="DocSearch.LeadResearch.___Num_of_Units_C_O"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has Open HPD Violations: </label>
                    <span ng-bind="DocSearch.LeadResearch.Has_Violations_HPD_Violations| booleanToString " />
                </td>
                <td>


                    <span ng-show="DocSearch.LeadResearch.Has_Violations_HPD_Violations">
                        <label>A Class: </label>
                        <span ng-bind="DocSearch.LeadResearch.A_Class_HPD_Violations"></span>
                    </span>&nbsp;&nbsp;
                    <span ng-show="DocSearch.LeadResearch.Has_Violations_HPD_Violations">
                        <label>B Class: </label>
                        <span ng-bind="DocSearch.LeadResearch.B_Class_HPD_Violations"></span>
                    </span>
                </td>
                <td>
                    <span ng-show="DocSearch.LeadResearch.Has_Violations_HPD_Violations">
                        <label>C Class: </label>
                        <span ng-bind="DocSearch.LeadResearch.C_Class_HPD_Violations"></span>
                    </span>&nbsp;&nbsp;
                    <span ng-show="DocSearch.LeadResearch.Has_Violations_HPD_Violations">
                        <label>I Class: </label>
                        <span ng-bind="DocSearch.LeadResearch.I_Class_HPD_Violations"></span>
                    </span>
                </td>

            </tr>
            <tr>
                <td>
                    <label>Is Open HPD Charge Paid, Not Transferred: </label>
                    <span ng-bind="DocSearch.LeadResearch.Is_Open_HPD_Charges_Not_Paid_Transferred| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.Is_Open_HPD_Charges_Not_Paid_Transferred">
                    <label>HPD Open Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.Open_Amount_HPD_Charges_Not_Paid_Transferred| currency"></span>
                </td>

            </tr>
            <tr>

                <td ng-show="DocSearch.LeadResearch.Tax_Classification">
                    <label>Tax Classification: </label>
                    <span ng-bind="DocSearch.LeadResearch.Tax_Classification"></span>
                </td>

                <td ng-show="DocSearch.LeadResearch.HPD_Number_of_Units">
                    <label>HPD Number of Units: </label>
                    <span ng-bind="DocSearch.LeadResearch.HPD_Number_of_Units"></span>
                </td>

            </tr>

            <tr class="newsec">
                <td colspan="3">   <b>Judgements & Liens</b>     </td>
            </tr>



            <tr>
                <td>
                    <label>Has Personal Judgments: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_Judgments_Personal_Judgments| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Judgments_Personal_Judgments">
                    <label>Personal Judgement Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_Personal_Judgments"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Judgments_Personal_Judgments">
                    <label>Personal Judgement Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.Amount_Personal_Judgments| currency"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has HPD Judgments: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_Judgments_HPD_Judgments| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Judgments_HPD_Judgments">
                    <label>HPD Judgment Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_HPD_Judgments"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Judgments_HPD_Judgments">
                    <label>HPD Judgment Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.HPDjudgementAmount| currency"></span>
            </tr>
            <tr>
                <td>
                    <label>Has IRS Tax Lien: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_IRS_Tax_Lien_IRS_Tax_Lien| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_IRS_Tax_Lien_IRS_Tax_Lien">
                    <label>IRS Tax Lien Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_IRS_Tax_Lien"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.has_IRS_Tax_Lien_IRS_Tax_Lien">
                    <label>IRS Tax Lien Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.irsTaxLien| currency"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has NYS Tax Lien: </label>
                    <span ng-bind="DocSearch.LeadResearch.hasNysTaxLien| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.hasNysTaxLien">
                    <label>NYS Tax Lien Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_NYS_Tax_Lien"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.hasNysTaxLien">
                    <label>NYS Tax Lien Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.Amount_NYS_Tax_Lien| currency"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has Sidewalk Tax Lien: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_Sidewalk_Liens_Sidewalk_Liens| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Sidewalk_Liens_Sidewalk_Liens">
                    <label>Sidewalk Lien Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_Sidewalk_Liens"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Sidewalk_Liens_Sidewalk_Liens">
                    <label>Sidewalk Lien Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.Amount_Sidewalk_Liens| currency"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Has Vacate Order: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_Vacate_Order_Vacate_Order| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Vacate_Order_Vacate_Order">
                    <label>Vacate Order Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_Vacate_Order"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.has_Vacate_Order_Vacate_Order">
                    <label>Vacate Order Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.Amount_Vacate_Order | currency"></span>
                </td>

            </tr>
            <tr>
                <td>
                    <label>Has ECB Tickets: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_ECB_Tickets_ECB_Tickets| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_ECB_Tickets_ECB_Tickets">
                    <label>ECB Tickets Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_ECB_Tickets"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.has_ECB_Tickets_ECB_Tickets">
                    <label>ECB Tickets Amount: </label>
                    <span ng-bind="DocSearch.LeadResearch.Amount_ECB_Tickets| currency"></span>
                </td>

            </tr>
            <tr>

                <td>
                    <label>Has ECB Tickets on Name other know address: </label>
                    <span ng-bind="DocSearch.LeadResearch.has_ECB_on_Name_ECB_on_Name_other_known_address| booleanToString " />
                </td>
                <td ng-show="DocSearch.LeadResearch.has_ECB_on_Name_ECB_on_Name_other_known_address">
                    <label>ECB On Name Count: </label>
                    <span ng-bind="DocSearch.LeadResearch.Count_ECB_on_Name_other_known_address"></span>
                </td>
                <td ng-show="DocSearch.LeadResearch.has_ECB_on_Name_ECB_on_Name_other_known_address">
                    <label>ECB On Name Amount:</label>
                    <span ng-bind="DocSearch.LeadResearch.Amount_ECB_on_Name_other_known_address| currency"></span>
                </td>
            </tr>

        </table>
    </div>
</div>