<div class="container" style="width: 90%; margin-top: 20px">
    <div class="row">
        <!--
        <div class="col-md-2 col-lg-2">
            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default">Occupancy</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        <select style="width: 100%">
                                            <option>Unkown</option>
                                            <option>Vacant</option>
                                            <option>Seller</option>
                                            <option>Seller + Tenant</option>
                                            <option>Tenant</option>
                                            <option>Multiple Tenants</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default">Foreclosure Status</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        <select style="width: 100%">
                                            <option>Not Sure</option>
                                            <option>No Action / Dismissed</option>
                                            <option>Summons & Complaint</option>
                                            <option>Settlement Conference</option>
                                            <option>RJI</option>
                                            <option>Order of Reference</option>
                                            <option>Judgment of Foreclosure and Sale</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


                <div class="col-lg-12 col-md-12">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default">Yes/No</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        <select style="width: 100%">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default">Liens</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        <select style="width: 100%">
                                            <option>No</option>
                                            <option>Court Order</option>
                                            <option>Mechanics Lien</option>
                                            <option>Specific Performance</option>
                                            <option>Specific Sundry Agreement</option>
                                            <option>Specific UCC</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
            -->

        <div class="col-md-5 col-lg-5">
            <div class="row">

                <!-- Title Insurance Premiums -->
                <div class="col-lg-12 col-md-12">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="6">Title Insurance Premiums</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label" colspan="2"> Purchase date</td>
                                    <td class="td-label" colspan="2">Loan Amount Discounted</td>
                                    <td class="td-label" colspan="2">Loan Amount Full Premium</td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <input />
                                    </td>
                                    <td colspan="2">
                                        <input />
                                    </td>
                                    <td colspan="2">
                                        <input />
                                    </td>
                                </tr>

                                <tr>

                                    <td colspan="6">
                                        &nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-label">From</td>
                                    <td class="td-label">To</td>
                                    <td class="td-label">Owner's Policy</td>
                                    <td class="td-label">Loan's Policy</td>
                                    <td class="td-label">Owner's Policy Cost</td>
                                    <td class="td-label">Loan Policy Cost</td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>

                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>

                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>

                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="td-label">Owner' Policy</td>
                                    <td class="td-label">Owner&Loan Policy &lt;= Purchase </td>
                                    <td class="td-label"></td>
                                    <td class="td-label"></td>
                                    <td class="td-label">Loan Policy &gt; Purchase</td>
                                    <td class="td-label">Title Insurance</td>
                                </tr>

                                <tr>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                    <td><input /></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default">Transfer Tax</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        <select style="width: 100%">
                                            <option>Residential</option>
                                            <option>Not Residential</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="2">Flip Calculation</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Filp ROI
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Filp Price
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="2">Money Folder</th>
                            </tr>
                            <tbody>
                                <tr>


                                    <td class="td-label">
                                        Cost Of Money
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Interest On Money
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-green">HOI</th>
                                <th class="td-label excel-green"><input /></th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Purchase Price(All in)
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Total Investment
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Cash Requirement
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Net Profit
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>

                                <tr>

                                    <td class="td-label">
                                        ROI (Loan)
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-green">Best Case For HOI</th>
                                <th class="td-label excel-green"><input /></th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Purchase Price(All in)
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Total Investment
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Cash Requirement
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Net Profit
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>

                                <tr>

                                    <td class="td-label">
                                        ROI (Loan)
                                    </td>
                                    <td>
                                        <input />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row">
                <!--info area-->
                <div class="col-lg-12 col-md-12">
                    <div class="pt-panel">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Property Address
                                    </td>
                                    <td colspan="3">
                                        {{data.PropertyAddress}}
                                    </td>

                                    <td class="td-label">
                                        Deal Length
                                    </td>

                                    <td>
                                        <input ng-model="data.Tables.Liens.DealLength" />
                                    </td>


                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Tax Class:

                                    </td>
                                    <td>
                                        {{data.TaxClass}}
                                    </td>

                                    <td colspan="2">
                                        <select style="width:100%" ng-model="data.PropertyInfo">
                                            <option>Residential</option>
                                            <option>Not Residential</option>
                                        </select>
                                    </td>

                                    <td class="td-label">
                                        Deal ROI:
                                    </td>
                                    <td>
                                        {{data.DealROICash}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Occupancy:
                                    </td>

                                    <td>
                                        {{data.OccupancyStatus}}
                                    </td>

                                    <td class="td-label">
                                        # of Tenants:
                                    </td>
                                    <td>{{data.NumOfTenants}}</td>

                                    <td class="td-label">
                                        Cost of Money:
                                    </td>

                                    <td>
                                        <input ng-model="data.Tables.Liens.CostOfMoney" />
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



                <!-- data area-->
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="pt-panel">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="td-label excel-default">Liens</th>
                                            <th class="td-label excel-default"></th>
                                            <th class="td-label excel-default">Settlement</th>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Lien Payoff(s)</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Tax Lien
                                            </td>
                                            <td class="td-value">{{data.Tables.Liens.TaxLien | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.TaxLienSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Property Taxes</td>

                                            <td class="td-value">{{data.Tables.Liens.PropertyTaxes | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.PropertyTaxesSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Water Charges</td>
                                            <td class="td-value">{{data.Tables.Liens.WaterCharges | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.WaterChargesSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">HPD Charges</td>
                                            <td class="td-value">{{data.Tables.Liens.HPDCharges | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.HPDChargesSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ECB/DOB Violations</td>
                                            <td class="td-value">{{data.Tables.Liens.ECBDOBViolations | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.ECBDOBViolationsSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">DOB Civil Penalties</td>
                                            <td class="td-value">{{data.Tables.Liens.DOBCivilPenalties | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.DOBCivilPenaltiesSettlement | percentage}}</td>
                                        </tr>

                                        <tr>
                                            <td class="td-label">Personal Judgements</td>
                                            <td class="td-value">{{data.Tables.Liens.PersonalJudgements | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.PersonalJudgementsSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">HPD Judgements</td>
                                            <td class="td-value">{{data.Tables.Liens.HPDJudgements | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.HPDJudgementsSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">IRS/NYS Tax Lien</td>
                                            <td class="td-value">{{data.Tables.Liens.IRSNYSTaxLien | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.IRSNYSTaxLienSettlement| percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Relocation Lien</td>
                                            <td class="td-value">{{data.Tables.Liens.RelocationLien | currency}}</td>
                                            <td class="td-value">{{data.Tables.Liens.RelocationLienSettlement| percentage}}</td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Deal Expenses</th>
                                        </tr>

                                        <tr>
                                            <td class="td-label">Money Spent</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">HOI Lien</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">COS Termination</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Tenants</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Agent</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Closing Costs</th>


                                        </tr>
                                        <tr>
                                            <td class="td-label">Owners Policy</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Title Bill</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Buyers Attorney</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Improvements</th>


                                        </tr>
                                        <tr>
                                            <td class="td-label">Construction</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Architect</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Carrying Costs</th>


                                        </tr>
                                        <tr>
                                            <td class="td-label">Insurance</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">RE Taxes</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Utilities</td>
                                            <td class="td-value"></td>
                                            <td class="td-value"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3">
                            <div class="pt-panel">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="td-label excel-default" colspan="2">Resale</th>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Probable Resale</td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Concession</td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Commissions</td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Transfer Tax</td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Attorney</td>
                                            <td class="td-value"></td>

                                        </tr>

                                        <tr>
                                            <td class="td-label">
                                                NDC
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="2">Loan Terms</th>

                                        </tr>

                                        <tr>
                                            <td class="td-label">
                                                Loan Amount
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>


                                        <tr>
                                            <td class="td-label">
                                                Loan Rate
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>

                                        <tr>
                                            <td class="td-label">
                                                Loan Points
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>

                                        <tr>
                                            <td class="td-label">
                                                Loan Term (Months)
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                LTV
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>

                                        <tr>
                                            <th class="td-label excel-default" colspan="2">Loan Costs</th>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Loan Policy
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Loan Closing Cost
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Points
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>


                                        <tr>
                                            <td class="td-label">
                                                Loan Interest
                                            </td>
                                            <td class="td-value"></td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>




                        <div class="col-lg-4 col-md-4">
                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-green" colspan="2">
                                            Cash Scenario
                                        </th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td class="td-label">Total Investment</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Net Profit (Cash)</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (All Cash)</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (Annual)</td>
                                            <td class="td-value"></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-blue" colspan="2">
                                            Loan Scenario
                                        </th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td class="td-label">Net Profit (Loan)</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (w/ Loan)</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (Annual)</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Cash Requirement</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (On Cash)</td>
                                            <td class="td-value"></td>
                                        </tr>

                                        <tr>
                                            <td class="td-label">ROI (On Cash Annual)</td>
                                            <td class="td-value"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-yellow" colspan="2">
                                            Flip Scenario
                                        </th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td class="td-label">Flip Price</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Total Cost</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Flip Profit</td>
                                            <td class="td-value"></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
