<div>
    <div class="row">

        <div class="col-md-5 col-lg-5">
            <div class="row">

                <!-- Title Insurance Premiums -->
                <div class="col-lg-12 col-md-12">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="6">Title Insurance Premiums</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label" colspan="2">Purchase Price</td>
                                    <td class="td-label" colspan="2">Loan Amount Discounted</td>
                                    <td class="td-label" colspan="2">Loan Amount Full Premium</td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        {{data.InsurancePremium.PurchasePrice | currency}}
                                    </td>
                                    <td colspan="2">
                                        {{data.InsurancePremium.LoanAmountDiscounted | currency}}
                                    </td>
                                    <td colspan="2">
                                        {{data.InsurancePremium.LoanAmountFullPremium | currency}}
                                    </td>
                                </tr>

                                <tr>

                                    <td colspan="6">
                                        &nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-label">From</td>
                                    <td class="td-label">To</td>
                                    <td class="td-label">Owner's Policy</td>
                                    <td class="td-label">Loan's Policy</td>
                                    <td class="td-label">Owner's Policy Cost</td>
                                    <td class="td-label">Loan Policy Cost</td>
                                </tr>
                                <tr ng-repeat="n in [0,1,2,3,4,5,6] track by $index">
                                    <td>{{data.InsurancePremium.From[$index] | currency}}</td>
                                    <td>{{data.InsurancePremium.To[$index] | currency}}</td>
                                    <td>{{data.InsurancePremium.OwnersPolicyRate[$index] | percentage}}</td>
                                    <td>{{data.InsurancePremium.LoanPolicyRate[$index] | percentage}}</td>
                                    <td>{{data.InsurancePremium.CostOwnersPolicy[$index] | currency}}</td>
                                    <td>{{data.InsurancePremium.CostLoanPolicy[$index] | currency}}</td>
                                </tr>


                                <tr>
                                    <td>{{data.InsurancePremium.From[7] | currency}}</td>
                                    <td></td>
                                    <td>{{data.InsurancePremium.OwnersPolicyRate[7] | percentage}}</td>
                                    <td>{{data.InsurancePremium.LoanPolicyRate[7] | percentage}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>


                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="td-label">Owner's Policy</td>
                                    <td class="td-label">Owner&Loan Policy &lt;= Purchase </td>
                                    <td class="td-label"></td>
                                    <td class="td-label"></td>
                                    <td class="td-label">Loan Policy &gt; Purchase</td>
                                    <td class="td-label">Title Insurance</td>
                                </tr>

                                <tr>
                                    <td>
                                        {{data.InsurancePremium.OwnersPolicy | currency}}
                                    </td>
                                    <td>
                                        {{data.InsurancePremium.OwnersLoanPolicyDiscounted | currency}}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {{data.InsurancePremium.OwnersLoanPolicyFullPremium | currency}}
                                    </td>
                                    <td>
                                        {{data.InsurancePremium.TitleInsurance | currency}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default">Transfer Tax</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>
                                        {{data.PropertyInfo.PropertyType}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="2">Flip Calculation</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Filp ROI
                                    </td>
                                    <td>
                                        {{data.FlipCalculation.FlipROI | percentage}}
                                        <input />
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Filp Price
                                    </td>
                                    <td>
                                        {{data.FlipCalculation.FlipPrice | currency}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-default" colspan="2">Money Factor</th>
                            </tr>
                            <tbody>
                                <tr>


                                    <td class="td-label">
                                        Cost Of Money
                                    </td>
                                    <td>
                                        {{data.MoneyFactor.CostOfMoney | percentage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Interest On Money
                                    </td>
                                    <td>
                                        {{data.MoneyFactor.InterestOnMoney | percentage}}
                                        <input />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-green">HOI</th>
                                <th class="td-label excel-green">
                                    {{data.HOI.Value | percentage}}
                                </th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Purchase Price(All in)
                                    </td>
                                    <td class="td-value">
                                        {{data.HOI.PurchasePriceAllIn | currency}}
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Total Investment
                                    </td>
                                    <td>
                                        {{data.HOI.TotalInvestment | currency}}
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Cash Requirement
                                    </td>
                                    <td>
                                        {{data.HOI.CashRequirement | currency}}
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Net Profit
                                    </td>
                                    <td>
                                        {{data.HOI.NetProfit | currency}}
                                    </td>
                                </tr>

                                <tr>

                                    <td class="td-label">
                                        ROI (Loan)
                                    </td>
                                    <td>
                                        {{data.HOI.ROILoan | percentage}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pt-panel">
                        <table>
                            <tr>
                                <th class="td-label excel-green" colspan="2">Best Case For HOI</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Purchase Price(All in)
                                    </td>
                                    <td class="td-value">
                                        {{data.HOIBestCase.PurchasePriceAllIn | currency}}
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Total Investment
                                    </td>
                                    <td>
                                        {{data.HOIBestCase.TotalInvestment | currency}}
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Cash Requirement
                                    </td>
                                    <td>
                                        {{data.HOIBestCase.CashRequirement | currency}}
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Net Profit
                                    </td>
                                    <td>
                                        {{data.HOIBestCase.NetProfit | currency}}
                                    </td>
                                </tr>

                                <tr>

                                    <td class="td-label">
                                        ROI (Loan)
                                    </td>
                                    <td>
                                        {{data.HOIBestCase.ROILoan | percentage}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="row">
                <!--info area-->
                <div class="col-lg-12 col-md-12">
                    <div class="pt-panel">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-label">
                                        Property Address
                                    </td>
                                    <td colspan="3">
                                        {{data.PropertyInfo.PropertyAddress}}
                                    </td>
                                    <td class="td-label">
                                        Deal Length
                                    </td>
                                    <td>
                                        {{data.RehabInfo.DealTimeMonths}}
                                    </td>
                                </tr>
                                <tr>

                                    <td class="td-label">
                                        Tax Class:
                                    </td>
                                    <td>
                                        {{data.PropertyInfo.TaxClass}}
                                    </td>

                                    <td colspan="2">
                                        {{data.PropertyInfo.PropertyType}}
                                    </td>

                                    <td class="td-label">
                                        Deal ROI:
                                    </td>
                                    <td>
                                        {{data.RehabInfo.DealROICash | percentage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-label">
                                        Occupancy:
                                    </td>

                                    <td>
                                        {{data.PropertyInfo.OccupancyStatus}}
                                    </td>

                                    <td class="td-label">
                                        # of Tenants:
                                    </td>
                                    <td>{{data.PropertyInfo.NumOfTenants}}</td>

                                    <td class="td-label">
                                        Cost of Money:
                                    </td>

                                    <td>
                                        {{data.MoneyFactor.CostOfMoney | percentage}}
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



                <!-- data area-->
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="pt-panel">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="td-label excel-default">Liens</th>
                                            <th class="td-label excel-default"></th>
                                            <th class="td-label excel-default">Settlement</th>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Lien Payoff(s)</td>
                                            <td class="td-value">{{data.Liens.LienPayoffs | currency}}</td>
                                            <td class="td-value">{{data.Liens.LienPayoffsSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Tax Lien
                                            </td>
                                            <td class="td-value">{{data.Liens.TaxLien | currency}}</td>
                                            <td class="td-value">{{data.Liens.TaxLienSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Property Taxes</td>

                                            <td class="td-value">{{data.Liens.PropertyTaxes | currency}}</td>
                                            <td class="td-value">{{data.Liens.PropertyTaxesSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Water Charges</td>
                                            <td class="td-value">{{data.Liens.WaterCharges | currency}}</td>
                                            <td class="td-value">{{data.Liens.WaterChargesSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">HPD Charges</td>
                                            <td class="td-value">{{data.Liens.HPDCharges | currency}}</td>
                                            <td class="td-value">{{data.Liens.HPDChargesSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ECB/DOB Violations</td>
                                            <td class="td-value">{{data.Liens.ECBDOBViolations | currency}}</td>
                                            <td class="td-value">{{data.Liens.ECBDOBViolationsSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">DOB Civil Penalties</td>
                                            <td class="td-value">{{data.Liens.DOBCivilPenalties | currency}}</td>
                                            <td class="td-value">{{data.Liens.DOBCivilPenaltiesSettlement | percentage}}</td>
                                        </tr>

                                        <tr>
                                            <td class="td-label">Personal Judgements</td>
                                            <td class="td-value">{{data.Liens.PersonalJudgements | currency}}</td>
                                            <td class="td-value">{{data.Liens.PersonalJudgementsSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">HPD Judgements</td>
                                            <td class="td-value">{{data.Liens.HPDJudgements | currency}}</td>
                                            <td class="td-value">{{data.Liens.HPDJudgementsSettlement | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">IRS/NYS Tax Lien</td>
                                            <td class="td-value">{{data.Liens.IRSNYSTaxLien | currency}}</td>
                                            <td class="td-value">{{data.Liens.IRSNYSTaxLienSettlement| percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Relocation Lien</td>
                                            <td class="td-value">{{data.Liens.RelocationLien | currency}}</td>
                                            <td class="td-value">{{data.Liens.RelocationLienSettlement| percentage}}</td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Deal Expenses</th>
                                        </tr>

                                        <tr>
                                            <td class="td-label">Money Spent</td>
                                            <td class="td-value">{{data.DealExpenses.MoneySpent | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">HOI Lien</td>
                                            <td class="td-value">{{data.DealExpenses.HOILien | currency}}</td>
                                            <td class="td-value">{{data.DealExpenses.HOILienSettlement| percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">COS Termination</td>
                                            <td class="td-value">{{data.DealExpenses.COSTermination | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Tenants</td>
                                            <td class="td-value">{{data.DealExpenses.Tenants | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Agent</td>
                                            <td class="td-value">{{data.DealExpenses.Agent | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Closing Costs</th>


                                        </tr>
                                        <tr>
                                            <td class="td-label">Owners Policy</td>
                                            <td class="td-value">{{data.ClosingCost.OwnersPolicy | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Title Bill</td>
                                            <td class="td-value">{{data.ClosingCost.TitleBill | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Buyers Attorney</td>
                                            <td class="td-value">{{data.ClosingCost.BuyerAttorney | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Improvements</th>


                                        </tr>
                                        <tr>
                                            <td class="td-label">Construction</td>
                                            <td class="td-value">{{data.Construction.Construction | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Architect</td>
                                            <td class="td-value">{{data.Construction.Architect | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="3">Carrying Costs</th>


                                        </tr>
                                        <tr>
                                            <td class="td-label">Insurance</td>
                                            <td class="td-value">{{data.CarryingCosts.Insurance | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">RE Taxes</td>
                                            <td class="td-value">{{data.CarryingCosts.RETaxs | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Utilities</td>
                                            <td class="td-value">{{data.CarryingCosts.Utilities | currency}}</td>
                                            <td class="td-value"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3">
                            <div class="pt-panel">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="td-label excel-default" colspan="2">Resale</th>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Probable Resale</td>
                                            <td class="td-value">{{data.Resale.ProbableResale | currency}}</td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Concession</td>
                                            <td class="td-value">{{data.Resale.Concession | currency}}</td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Commissions</td>
                                            <td class="td-value">{{data.Resale.Commissions | currency}}</td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Transfer Tax</td>
                                            <td class="td-value">{{data.Resale.TransferTax | currency}}</td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">Attorney</td>
                                            <td class="td-value">{{data.Resale.Attorney | currency}}</td>

                                        </tr>

                                        <tr>
                                            <td class="td-label">NDC</td>
                                            <td class="td-value">{{data.Resale.NDC | currency}}</td>

                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="2">Loan Terms</th>

                                        </tr>

                                        <tr>
                                            <td class="td-label">
                                                Loan Amount
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanTerms.LoanAmount | currency}}
                                            </td>

                                        </tr>


                                        <tr>
                                            <td class="td-label">
                                                Loan Rate
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanTerms.LoanRate | percentage}}
                                            </td>

                                        </tr>

                                        <tr>
                                            <td class="td-label">
                                                Loan Points
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanTerms.LoanPoints}}
                                            </td>

                                        </tr>

                                        <tr>
                                            <td class="td-label">
                                                Loan Term (Months)
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanTerms.LoanTermMonths}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                LTV
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanTerms.LTV | percentage}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <th class="td-label excel-default" colspan="2">Loan Costs</th>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Loan Policy
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanCosts.LoanPolicy | currency}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Loan Closing Cost
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanCosts.LoanClosingCost | currency}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Points
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanCosts.Points | currency}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="td-label">
                                                Loan Interest
                                            </td>
                                            <td class="td-value">
                                                {{data.LoanCosts.LoanInterest | currency}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>




                        <div class="col-lg-4 col-md-4">
                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-green" colspan="2">
                                            Cash Scenario
                                        </th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td class="td-label">Total Investment</td>
                                            <td class="td-value">{{data.CashScenario.Purchase_TotalInvestment | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Net Profit (Cash)</td>
                                            <td class="td-value">{{data.CashScenario.Resale_NetProfit | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (All Cash)</td>
                                            <td class="td-value">{{data.CashScenario.ROI | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (Annual)</td>
                                            <td class="td-value">{{data.CashScenario.ROIAnnual | percentage}}</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-blue" colspan="2">
                                            Loan Scenario
                                        </th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td class="td-label">Total Investment</td>
                                            <td class="td-value">{{data.LoanScenario.Purchase_TotalInvestment | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Net Profit (Loan)</td>
                                            <td class="td-value">{{data.LoanScenario.Resale_NetProfit | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (w/ Loan)</td>
                                            <td class="td-value">{{data.LoanScenario.ROI | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (Annual)</td>
                                            <td class="td-value">{{data.LoanScenario.ROIAnnual | percentage}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Cash Requirement</td>
                                            <td class="td-value">{{data.LoanScenario.CashRequirement | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">ROI (On Cash)</td>
                                            <td class="td-value">{{data.LoanScenario.CashROI | percentage}}</td>
                                        </tr>

                                        <tr>
                                            <td class="td-label">ROI (On Cash Annual)</td>
                                            <td class="td-value">{{data.LoanScenario.CashROIAnnual | percentage}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="pt-panel">
                                <table>
                                    <tr>
                                        <th class="td-label excel-yellow" colspan="2">
                                            Flip Scenario
                                        </th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td class="td-label">Flip Price</td>
                                            <td class="td-value">{{data.FlipScenario.FlipPrice_SalePrice | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Total Cost</td>
                                            <td class="td-value">{{data.FlipScenario.Purchase_TotalCost | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-label">Flip Profit</td>
                                            <td class="td-value">{{data.FlipScenario.FlipProfit | currency}}</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
