<div class="item-detail">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class=" nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="underwriter.datainput">Data Input</a></li>
                <li ui-sref-active="active"><a ui-sref="underwriter.flipsheets">FlipSheets</a></li>
                <li ui-sref-active="active"><a ui-sref="underwriter.rentalmodels">Rental Model</a></li>
                <!-- <li ui-sref-active="active"><a ui-sref="underwriter.tables">Tables</a></li>-->
            </ul>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container" style="min-width: 800px; width: 95%">
        <ui-view></ui-view>
    </div>
</div>