<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
  </configSections>
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Logs\logs.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <rollingstyle value="Size" />
      <maxsizerollbackups value="10" />
      <maximumfilesize value="10MB" />
      <staticlogfilename value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="FileAppender" />        
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModel.PortalEntityModel.csdl|res://*/DataModel.PortalEntityModel.ssdl|res://*/DataModel.PortalEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShortSaleEntities" connectionString="metadata=res://*/ADOEntity.ShortSale.csdl|res://*/ADOEntity.ShortSale.ssdl|res://*/ADOEntity.ShortSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreEntities" connectionString="metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataModelContainer" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=WFServerLog;User ID=Chris;Password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="Entities" connectionString="metadata=res://*/DataModel.PortalEntityModel.csdl|res://*/DataModel.PortalEntityModel.ssdl|res://*/DataModel.PortalEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;User ID=Steven;Password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShortSaleEntities" connectionString="metadata=res://*/ADOEntity.ShortSale.csdl|res://*/ADOEntity.ShortSale.ssdl|res://*/ADOEntity.ShortSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreEntities" connectionString="metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=IntranetPortal;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataModelContainer" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=WFServerLog;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="WorkflowServer" value="chrispc" />
    <add key="Debug" value="false" />
    <add key="ServiceMode" value="Trial" />
    <add key="PortalUrl" value="http://localhost:61504" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="PORTAL@myidealprop.com">
        <network host="smtp.myidealprop.com" password="P@ssw0rd" userName="PORTAL@myidealprop.com" enableSsl="false" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="PortalMembershipProvider">
      <providers>
        <clear />
        <add name="PortalMembershipProvider" type="IntranetPortal.PortalMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="PortalRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="PortalRoleProvider" type="IntranetPortal.PortalRoleProvider, IntranetPortal" connectionStringName="ApplicationServices" applicationName="IntranetPortal" writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommonService" />
        <binding name="WCFMacros_Http" openTimeout="00:01:30" sendTimeout="00:01:30"
          maxReceivedMessageSize="10000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60956/wcfdataservices/CommonService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService"
        contract="PortalService.ICommonService" name="BasicHttpBinding_ICommonService" />
      <endpoint address="http://server:8002/" binding="basicHttpBinding"
        bindingConfiguration="WCFMacros_Http" contract="DataAPI.IWCFMacros"
        name="WCFMacros_Http" />
    </client>
  </system.serviceModel>
</configuration>