<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Logs\logs.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <rollingstyle value="Size" />
      <maxsizerollbackups value="10" />
      <maximumfilesize value="10MB" />
      <staticlogfilename value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="FileAppender" />        
    </root>
  </log4net>
  <connectionStrings>
    <add name="CoreEntities" connectionString="metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MapDataEntitiesContainer" connectionString="metadata=res://*/ADOEntity.MapDataEntities.csdl|res://*/ADOEntity.MapDataEntities.ssdl|res://*/ADOEntity.MapDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=MapData;User ID=Chris;Password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConstructionEntities" connectionString="metadata=res://*/Construction.DataModel.ConstructionModel.csdl|res://*/Construction.DataModel.ConstructionModel.ssdl|res://*/Construction.DataModel.ConstructionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;user id=chris;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShortSaleEntities" connectionString="metadata=res://*/ShortSale.ADOEntity.ShortSale.csdl|res://*/ShortSale.ADOEntity.ShortSale.ssdl|res://*/ShortSale.ADOEntity.ShortSale.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;User ID=Chris;Password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LegalModelContainer" connectionString="metadata=res://*/Legal.DataModel.LegalModel.csdl|res://*/Legal.DataModel.LegalModel.ssdl|res://*/Legal.DataModel.LegalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=207.97.206.29,4436;initial catalog=IntranetPortal;user id=Chris;password=P@ssw0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <mailSettings>
    <smtp from="PORTAL@myidealprop.com">
      <network host="smtp.myidealprop.com" password="ColorBlue206!" userName="PORTAL@myidealprop.com" enableSsl="false" port="587" />
    </smtp>
    <shortsale from="Portal@nhassist.com">
      <network host="Mail.nhassist.com" password="portal123" userName="Portal@nhassist.com" enableSsl="false" port="587" />
    </shortsale>
  </mailSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>