<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="mailSettings">
      <section name="smtp" type="System.Net.Configuration.SmtpSection" />
      <section name="shortsale" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>   
  </configSections>
  <SqlUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=Server,4436;Initial Catalog=master;Persist Security Info=True;User ID=George;Pooling=False" CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=Server,4436;Initial Catalog=master;Persist Security Info=True;User ID=George;Pooling=False" CommandTimeout="30" />
  </SqlUnitTesting>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Logs\logs.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <rollingstyle value="Size" />
      <maxsizerollbackups value="10" />
      <maximumfilesize value="10MB" />
      <staticlogfilename value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
        <level value="DEBUG" />
        <appender-ref ref="FileAppender" />        
    </root>
  </log4net>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModel.PortalEntityModel.csdl|res://*/DataModel.PortalEntityModel.ssdl|res://*/DataModel.PortalEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chrispc,4436;initial catalog=IntranetPortal;User ID=Steven;Password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PortalEntities" connectionString="metadata=res://*/ADOEntity.PortalEntities.csdl|res://*/ADOEntity.PortalEntities.ssdl|res://*/ADOEntity.PortalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chrispc,4436;initial catalog=IntranetPortal;User ID=Steven;Password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreEntities" connectionString="metadata=res://*/ADOEntity.CoreEntities.csdl|res://*/ADOEntity.CoreEntities.ssdl|res://*/ADOEntity.CoreEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chrispc,4436;initial catalog=IntranetPortal;User ID=Steven;Password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MapDataEntitiesContainer" connectionString="metadata=res://*/ADOEntity.MapDataEntities.csdl|res://*/ADOEntity.MapDataEntities.ssdl|res://*/ADOEntity.MapDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chrispc,4436;initial catalog=MapData;user id=steven;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataModelContainer" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=WFServerLog;User ID=Steven;Password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PublicSiteEntities" connectionString="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISPC,4436;initial catalog=PublicSite;User ID=Steven;Password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CodeFirstEntity" connectionString="data source=chrispc,4436;initial catalog=IntranetPortal;user id=Steven;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultPassword" value="123456" />
    <add key="BingMapKey" value="AsNeWrqROYNx6pvOnd-zpRxBPYK7kPWMcjABD1wLjSHAHMyrvFzuyItfd3AcOI85" />
    <add key="ImpersonationUsers" value="123" />
    <add key="QueensRole" value="QueensOfficeAdmin" />
    <add key="BrooklynRole" value="BrooklynOfficeAdmin" />
    <add key="BronxRole" value="BronxOfficeAdmin" />
    <add key="Office365UserName" value="ron@MyIdealPropertyInc.onmicrosoft.com" />
    <add key="Office365Password" value="Unlock12" />
    <add key="Office365ServerUrl" value="https://myidealpropertyinc.sharepoint.com" />
    <add key="ShortSaleIntake" value="123" />
    <add key="WorkflowServer" value="chrispc" />
    <add key="RulesEngineServer" value="localhost" />
    <add key="IsTesting" value="true"></add>
    <add key="EcourtServiceUrl" value="https://office.rajsethi.me/property" />
    <add key="Debug" value="false" />
    <add key="pure_cloud_username" value="7ed6e365-998a-4fdb-8fc6-c91cbcf9527f"></add>
    <add key="pure_cloud_password" value="Loz5NCQrbxkJULmu7Bn3PrzYCPxWPj9WwTg0c0I5uMk"></add>
    <add key="pure_cloud_token" value="e4aRE874ZDyOPFPp8nGIg__7g8RNsLsCrqX7XT4YrgAPoro5Do7NXHPS-VIBjxi7Yl03yrtLaiKkJCDv6RwO2Q"></add>
    <add key="RedqServiceKey" value="6F43717752E839FD9034B6C426770488A7BA624E9E6D018E26D52451C7A4BCFE56338E92D621F826AC8B8228DDFEC4D7628AAC4917A06F3AE6CD56C978A691CA" />
  </appSettings>
  <mailSettings>
    <smtp from="PORTAL@myidealprop.com">
      <network host="smtp.myidealprop.com" password="ColorBlue206!" userName="PORTAL@myidealprop.com" enableSsl="false" port="587" />
    </smtp>
    <shortsale from="Portal@nhassist.com">
      <network host="Mail.nhassist.com" password="portal123" userName="Portal@nhassist.com" enableSsl="false" port="587" />
    </shortsale>
  </mailSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="PortalMembershipProvider">
      <providers>
        <clear />
        <add name="PortalMembershipProvider" type="IntranetPortal.PortalMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="PortalRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="PortalRoleProvider" type="IntranetPortal.PortalRoleProvider, IntranetPortal" connectionStringName="ApplicationServices" applicationName="IntranetPortal" writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WCFMacros_Http" />
        <binding name="BasicHttpBinding_ICommonService" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50075/WCFDataServices/CommonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService" contract="PortalService.ICommonService" name="BasicHttpBinding_ICommonService" />
      <endpoint address="http://georgepc:8002/" binding="basicHttpBinding" bindingConfiguration="WCFMacros_Http" contract="DataAPI.IWCFMacros" name="WCFMacros_Http" />
    </client>
  </system.serviceModel>
</configuration>